@import "tailwindcss" source("../../Components");

@layer components {
    @keyframes shimmer-ltr-move {
        0% {
            left: -100%;
        }
        100% {
            left: 125%;
        }
    }
    
    .shimmer {
        @apply relative inline-block overflow-hidden
    }

    .shimmer::before {
        @apply content-[''] absolute top-0 z-1 -left-full w-[75%] h-full
        bg-linear-[100deg,rgba(255,255,255,0)_20%,rgba(255,255,255,0.4)_50%,rgba(255,255,255,0)_80%];
    }

    .shimmer:hover::before {
        animation: shimmer-ltr-move 0.45s linear forwards;
    }

    .hover-rising {
        @apply hover:-translate-y-1 hover:scale-[1.02] transition-[translate,scale] duration-[250ms,250ms] ease-[linear,linear]
    }
    
    .button-group {
        @apply flex flex-row flex-nowrap;
        
        * {
            @apply m-0 border-l-0 border-r-0 border-t-2 border-b-2;
        }
        
        *:first-child {
            @apply border-l-2 rounded-l-lg;
        }
        
        *:not(:last-child) {
            @apply border-r-2;
        }
        
        *:last-child {
            @apply border-r-2 rounded-r-lg;
        }
    }
    
    :root {
        --morph-bg-color-1: rgb(108, 0, 162);
        --morph-bg-color-2: rgb(0, 17, 82);
        
        --morph-gradient-size: 56rem;
        
        --gradient-1-color-from: rgba(10, 113, 255, 0.8);
        --gradient-1-color-to: rgba(10, 113, 255, 0);

        --gradient-2-color-from: rgba(221, 74, 255, 0.8);
        --gradient-2-color-to: rgba(221, 74, 255, 0);

        --gradient-3-color-from: rgba(100, 220, 255, 0.8);
        --gradient-3-color-to: rgba(100, 220, 255, 0);

        --gradient-4-color-from: rgba(200, 50, 50, 0.8);
        --gradient-4-color-to: rgba(200, 50, 50, 0);

        --gradient-5-color-from: rgba(100, 100, 50, 0.8);
        --gradient-5-color-to: rgba(100, 100, 50, 0);
    }
    
    .morph-gradient-bg {
        @apply overflow-hidden bg-linear-[60deg] from-(--bg-color-1) to-(--bg-color-2);
    }
    
    .morph-gradient-container {
        @apply size-full;
        
        filter: url("#bg") blur(48px);
    }
    
    .gradient-element-1 {
        @apply absolute opacity-100
        bg-radial-[circle_at_center,var(--gradient-1-color-from)_0%,var(--gradient-1-color-to)_50%] mix-blend-hard-light
        size-(--gradient-size)
        top-[calc(50%-var(--gradient-size)/2)] left-[calc(50%-var(--gradient-size)/2)];
    }

    .gradient-element-2 {
        @apply absolute opacity-100
        bg-radial-[circle_at_center,var(--gradient-2-color-from)_0%,var(--gradient-2-color-to)_50%] mix-blend-hard-light
        size-(--gradient-size)
        top-[calc(50%-var(--gradient-size)/2)] left-[calc(50%-var(--gradient-size)/2)];
    }

    .gradient-element-3 {
        @apply absolute opacity-100
        bg-radial-[circle_at_center,var(--gradient-3-color-from)_0%,var(--gradient-3-color-to)_50%] mix-blend-hard-light
        size-(--gradient-size)
        top-[calc(50%-var(--gradient-size)/2)] left-[calc(50%-var(--gradient-size)/2)];
    }

    .gradient-element-4 {
        @apply absolute opacity-100
        bg-radial-[circle_at_center,var(--gradient-4-color-from)_0%,var(--gradient-4-color-to)_50%] mix-blend-hard-light
        size-(--gradient-size)
        top-[calc(50%-var(--gradient-size)/2)] left-[calc(50%-var(--gradient-size)/2)];
    }

    .gradient-element-5 {
        @apply absolute opacity-100
        bg-radial-[circle_at_center,var(--gradient-5-color-from)_0%,var(--gradient-5-color-to)_50%] mix-blend-hard-light
        size-(--gradient-size)
        top-[calc(50%-var(--gradient-size)/2)] left-[calc(50%-var(--gradient-size)/2)];
    }
    
    .hide-reveal::-ms-reveal {
        @apply hidden;
    }
    
    .input-field {
        @apply text-gray-200 placeholder-gray-500
        bg-gray-700/60
        outline-none
        border rounded-lg border-gray-600
        focus:ring-2 focus:ring-indigo-500
        transition duration-300;
    }
    
    .panel-accent-color-1 {
        @apply bg-linear-to-r from-indigo-500 via-purple-500 to-pink-500;
    }
    
    .button-color-1 {
        @apply bg-linear-to-r from-indigo-500 to-purple-500 hover:from-indigo-600 hover:to-purple-600 active:from-indigo-700 active:to-purple-700;
    }
    
    .button-color-2 {
        @apply bg-linear-to-r from-emerald-600 to-green-400 hover:from-emerald-500 hover:to-green-300 active:from-emerald-700 active:to-green-500;
    }
}