@page "/"

<PageTitle>Home</PageTitle>

<div class="home-particle-background" id="js-particles-background"></div>

<header class="navigation-header__container">
    
</header>

<script src="@Assets["js/home.js"]"></script>

@code {
}