@page "/settings"
@using Conflux.Components.Shared
@using Conflux.Components.Shared.Icons

@attribute [Authorize]

<div class="w-full h-screen bg-(--bg-color-1)">
    <TabContainer class="grid grid-cols-5 h-full" ButtonContainerCssClass="col-span-1 flex flex-col gap-2 p-3 border-r-2 border-r-gray-600 bg-(--bg-color-2) overflow-y-auto" ContentContainerCssClass="col-span-4">
        <Buttons>
            <PageTabButtons/>
        </Buttons>
        
        <Contents>
            @for (int i = 1; i <= 10; i++) {
                string text = $"Tab {i}";
                
                <TabContent TabId="@text">
                    @text
                </TabContent>
            }
        </Contents>
    </TabContainer>
</div>

@code {
    
}