@page "/settings"
@using Conflux.Components.Shared
@using Conflux.Components.Shared.Icons

@attribute [Authorize]

<div class="w-full h-screen bg-(--bg-color-1)">
    <TabContainer class="grid grid-cols-5 h-full" ButtonContainerCssClass="col-span-1 flex flex-col gap-2 p-3 border-r-2 border-r-gray-600 bg-(--bg-color-2) overflow-y-auto" ContentContainerCssClass="col-span-4">
        <Buttons>
            <section class="text-white flex-none">
                <header class="mb-3">
                    <p class="font-bold">User Settings</p>
                </header>
                
                <nav class="flex flex-col gap-3">
                    <TabButton TabId="account" class="flex flex-row justify-start items-center px-4 py-2 rounded-full w-full gap-3 flex-none cursor-pointer hover:bg-gray-500" ActiveCssClass="bg-gray-600">
                        <Shield class="size-6 flex-none" fill="white"/>
                        
                        Account
                    </TabButton>
                    
                    <TabButton TabId="profile" class="flex flex-row justify-start items-center px-4 py-2 rounded-full w-full gap-3 flex-none cursor-pointer hover:bg-gray-500" ActiveCssClass="bg-gray-600">
                        <Journal class="size-6 flex-none" fill="white"/>
                        
                        Profile
                    </TabButton>
                    
                    <TabButton TabId="social" class="flex flex-row justify-start items-center px-4 py-2 rounded-full w-full gap-3 flex-none cursor-pointer hover:bg-gray-500" ActiveCssClass="bg-gray-600">
                        <People class="size-6 flex-none" fill="white"/>
                        
                        Social
                    </TabButton>
                    
                    <TabButton TabId="connections" class="flex flex-row justify-start items-center px-4 py-2 rounded-full w-full gap-3 flex-none cursor-pointer hover:bg-gray-500" ActiveCssClass="bg-gray-600">
                        <Person class="size-6 flex-none" fill="white"/>
                        
                        Connections
                    </TabButton>
                    
                    <TabButton TabId="data_request" class="flex flex-row justify-start items-center px-4 py-2 rounded-full w-full gap-3 flex-none cursor-pointer hover:bg-gray-500" ActiveCssClass="bg-gray-600">
                        <svg xmlns="http://www.w3.org/2000/svg" class="size-6 fill-white" viewBox="0 0 16 16">
                            <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
                            <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708z"/>
                        </svg>
                        
                        Data Request
                    </TabButton>
                </nav>
            </section>
            
            <hr class="my-3 h-px border-t border-t-gray-600"/>
            
            <section class="text-white flex-none">
                <header class="mb-3">
                    <p class="font-bold">Application Settings</p>
                </header>
                
                <nav class="flex flex-col gap-3">
                    <TabButton TabId="appearance" class="flex flex-row justify-start items-center px-4 py-2 rounded-full w-full gap-3 flex-none cursor-pointer hover:bg-gray-500" ActiveCssClass="bg-gray-600">
                        <Palette class="size-6 flex-none" fill="white"/>
                        
                        Appearance
                    </TabButton>
                    
                    <TabButton TabId="peripheral" class="flex flex-row justify-start items-center px-4 py-2 rounded-full w-full gap-3 flex-none cursor-pointer hover:bg-gray-500" ActiveCssClass="bg-gray-600">
                        <Microphone class="size-6 flex-none" fill="white"/>

                        Peripheral
                    </TabButton>
                    
                    <TabButton TabId="chatting" class="flex flex-row justify-start items-center px-4 py-2 rounded-full w-full gap-3 flex-none cursor-pointer hover:bg-gray-500" ActiveCssClass="bg-gray-600">
                        <SpeechBubble ArrowDirection="ChatArrowDirection.Middle" Content="ChatContent.Text" Filled="false" class="size-6 flex-none" fill="white"/>

                        Chatting
                    </TabButton>
                    
                    <TabButton TabId="notification" class="flex flex-row justify-start items-center px-4 py-2 rounded-full w-full gap-3 flex-none cursor-pointer hover:bg-gray-500" ActiveCssClass="bg-gray-600">
                        <Bell class="size-6 flex-none" fill="white"/>

                        Notification
                    </TabButton>
                    
                    <TabButton TabId="notification" class="flex flex-row justify-start items-center px-4 py-2 rounded-full w-full gap-3 flex-none cursor-pointer hover:bg-gray-500" ActiveCssClass="bg-gray-600">
                        <Alphabet class="size-6 flex-none" fill="white"/>

                        Language
                    </TabButton>
                    
                    <TabButton TabId="app_others" class="flex flex-row justify-start items-center px-4 py-2 rounded-full w-full gap-3 flex-none cursor-pointer hover:bg-gray-500" ActiveCssClass="bg-gray-600">
                        <ThreeDots class="size-6 flex-none" fill="white"/>

                        Others
                    </TabButton>
                </nav>
            </section>
            
            <hr class="my-3 h-px border-t border-t-gray-600"/>
            
            <section class="text-white flex-none">
                <header class="mb-3">
                    <p class="font-bold text-red-600">Danger Zone</p>
                </header>
                
                <LogoutButton/>
            </section>
            
            @* @for (int i = 1; i <= 10; i++) { *@
            @*     string text = $"Tab {i}"; *@
            @*      *@
            @*     <TabButton TabId="@text" class="bg-blue-500 text-white flex-none py-2 cursor-pointer" ActiveCssClass="bg-blue-600"> *@
            @*         @text *@
            @*     </TabButton> *@
            @* } *@
        </Buttons>
        
        <Contents>
            @for (int i = 1; i <= 10; i++) {
                string text = $"Tab {i}";
                
                <TabContent TabId="@text">
                    @text
                </TabContent>
            }
        </Contents>
    </TabContainer>
</div>

@code {
    
}