@using Conflux.Components.Shared

<div class="absolute left-5 right-5 @(_showPopup ? "bottom-5 translate-y-0" : "bottom-0 translate-y-full") bg-(--bg-color-1) px-3 py-2 shadow-md border border-(--bg-color-2) rounded-lg flex flex-row justify-between items-center transition-all duration-500 z-10000">
    Unsaved changes detected!
    
    <div class="flex-none inline-flex flex-row items-center gap-1">
        <button class="button-danger w-18 px-0 py-0 h-10" @onclick="HandleCancelClick">
            Cancel
        </button>
            
        <SpinnerButton @bind-IsSpinning="_isSpinning" class="button-success w-18 px-0 py-0 h-10 flex justify-center items-center" SpinnerCssClass="size-4 fill-white" @onclick="HandleSaveClick">
            Save
        </SpinnerButton>
    </div>
</div>

@code {
    [Parameter] public EventCallback OnSaveRequest { get; set; }
    [Parameter] public EventCallback OnCancelRequest { get; set; }
    
    private bool _showPopup;
    private bool _isSpinning;

    private async Task HandleCancelClick() {
        await OnCancelRequest.InvokeAsync();
        _showPopup = false;
    }

    private async Task HandleSaveClick() {
        _isSpinning = true;

        try {
            await OnSaveRequest.InvokeAsync();
        } finally {
            _isSpinning = false;
        }
    }

    public void ShowPopup() {
        if (_showPopup) return;

        _showPopup = true;
        StateHasChanged();
    }

    public void HidePopup() {
        if (!_showPopup) return;

        _showPopup = false;
        StateHasChanged();
    }
}