@page "/auth/login"

@using Microsoft.AspNetCore.Identity
@using Conflux.Components.Shared
@using Conflux.Database
@using System.ComponentModel.DataAnnotations
@using Conflux.Components.Shared.Icons
@using Conflux.Database.Entities
@using Conflux.Services
@using Conflux.Services.Abstracts
@using Microsoft.AspNetCore.Components.Sections

@attribute [ExcludeFromInteractiveRouting]

@inject IWebHostEnvironment Environment
@inject IViteManifest ViteManifest
@inject IViteDevServerStatus Vite
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationRedirectManager RedirectManager
@inject ILogger<LoginPage> Logger
@inject IUserService UserService

<div class="fixed bg-fixed inset-0 morph-gradient-bg">
    <svg xmlns="http://www.w3.org/2000/svg" class="size-0">
        <defs>
            <filter id="filter">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"/>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0   0 1 0 0 0   0 0 1 0 0   0 0 0 18 -8" result="bg"/>
                <feBlend in="SourceGraphic" in2="bg"/>
            </filter>
        </defs>
    </svg>

    <div class="morph-gradient-container">
        <div class="gradient-element-1"></div>
        <div class="gradient-element-2"></div>
        <div class="gradient-element-3"></div>
        <div class="gradient-element-4"></div>
        <div class="gradient-element-5"></div>
    </div>
</div>

<div class="h-screen w-screen grid grid-cols-1 px-4 md:px-0 md:grid-cols-4 lg:grid-cols-3">
    <div class="col-start-1 col-span-1 md:col-start-2 md:col-span-2 lg:col-start-2 lg:col-span-1">
        <div class="size-full flex flex-row justify-center items-center">
            <div class="bg-gray-700 w-full rounded-3xl shadow-xl text-white overflow-visible relative">
                <div class="absolute rounded-t-3xl h-12 w-full overflow-hidden">
                    <div class="h-1 panel-accent-color-1"></div>
                </div>

                <section class="p-10">
                    <h1 class="text-center font-bold text-3xl text-white">Welcome Back</h1>
                    <p class="text-center text-gray-400 text-sm mt-2">Identify yourself</p>

                    <EditForm method="post" class="mt-8" FormName="Login" EditContext="_editContext" OnValidSubmit="OnValidSubmit">
                        <DataAnnotationsValidator/>

                        <div>
                            <label class="text-sm text-gray-300">Email</label>

                            <InputText type="text" @bind-Value="Model.Email" placeholder="Enter Email" class="w-full h-11 mt-2 px-3 input-field"/>
                        </div>

                        <div class="mt-4">
                            <label class="text-sm text-gray-300">Password</label>

                            <SensitiveInputText class="w-full mt-2 h-11" @bind-Value="Model.Password" placeholder="Enter Password" InputCssClass="w-full h-11 input-field rounded-r-none border-r-0">
                                <ShowButtonContent>
                                    <Eye class="size-6 fill-white"/>
                                </ShowButtonContent>

                                <HideButtonContent>
                                    <EyeSlash class="size-6 fill-white"/>
                                </HideButtonContent>
                            </SensitiveInputText>
                        </div>

                        <div class="flex items-center justify-between text-sm text-gray-400 mt-4">
                            <label class="flex items-center space-x-2">
                                <InputCheckbox class="accent-indigo-500" @bind-Value="Model.RememberMe"/>
                                <span>Remember me</span>
                            </label>

                            <a href="#" class="hover:text-indigo-400 transition-colors">Forgot password?</a>
                        </div>

                        @if (!string.IsNullOrEmpty(_errorMessage)) {
                            <p class="text-center mt-1 text-red-500">@_errorMessage</p>
                        }

                        <button type="submit" class="w-full h-11 button-color-1 rounded-lg text-white font-semibold shadow-md transition-colors duration-300 mt-4 cursor-pointer">
                            Log In
                        </button>
                    </EditForm>

                    <p class="text-center text-gray-400 text-sm mt-2">
                        No account? Click <a class="underline cursor-pointer" href="/auth/register">here</a> to create one.
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>

<SectionContent SectionName="javascript">
    @if (Environment.IsDevelopment() && Vite.IsMiddlewareEnable) {
        <StaticPageScript Src="scripts/pages/login.ts"></StaticPageScript>
    } else {
        IViteChunk? chunk;
        
        if ((chunk = ViteManifest["scripts/pages/login.ts"]) != null) {
            <StaticPageScript Src="@chunk.File"></StaticPageScript>

            if (chunk.Imports != null) {
                foreach (string import in chunk.Imports) {
                    if (!ViteManifest.ContainsKey(import)) continue;

                    <StaticPageScript Src="@ViteManifest[import]!.File"></StaticPageScript>
                }
            }
        }
    }
</SectionContent>

@code {
    [Parameter] public EventCallback<ApplicationUser> OnLoggedIn { get; set; }
    
    private EditContext _editContext = null!;
    [SupplyParameterFromForm(FormName = "Login")] private InputModel Model { get; set; } = new();
    private string? _errorMessage;

    [CascadingParameter] public HttpContext HttpContext { get; set; } = null!;

    [SupplyParameterFromQuery(Name = "ReturnUrl")] private string? ReturnUrl { get; set; }

    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    protected override async Task OnInitializedAsync() {
        // If already login, kick the user out.
        if (await AuthenticationState is { User.Identity.IsAuthenticated: true }) {
            RedirectManager.To("/").Execute();
            return;
        }
        
        _editContext = new(Model);
    }
    
    private async Task OnValidSubmit() {
        var user = await UserManager.FindByEmailAsync(Model.Email);

        if (user == null) {
            _errorMessage = "Invalid login credential.";
            return;
        }

        var result = await SignInManager.PasswordSignInAsync(user, Model.Password, Model.RememberMe, false);

        if (result.Succeeded) {
            if (await UserManager.IsEmailConfirmedAsync(user)) {
                if (user.IsProfileSetup) {
                    RedirectManager.To(ReturnUrl ?? "/").Execute();
                } else {
                    RedirectManager.To("/setup-profile").WithQuery("ReturnUrl", ReturnUrl).Execute();
                }
            } else {
                RedirectManager.To("/auth/verify-email").WithQuery("userId", user.Id).Execute();
            }
        } else {
            _errorMessage = "Invalid login credential.";
        }
    }

    private sealed class InputModel {
        [Required]
        [StringLength(320, ErrorMessage = "Email cannot be longer than 320 characters.")]
        [EmailAddress]
        public string Email { get; set; } = string.Empty;
        
        [Required]
        [MinLength(8, ErrorMessage = "Password must be longer or equal to 8 characters.")]
        public string Password { get; set; } = string.Empty;
        
        public bool RememberMe { get; set; }
    }
}