@using Conflux.Components.Shared
@using Conflux.Components.Shared.Icons
@using Microsoft.AspNetCore.Components.Sections

@inherits LayoutComponentBase

@layout SidebarLobbyLayout

<SectionContent SectionName="lobby-sidebar">
    @if (_communityId.HasValue) {
        <CommunityChannelList CommunityId="_communityId.Value"/>
    } else {
        <div class="size-full flex flex-row justify-center items-center">
            <Spinner class="size-8 fill-white"/>
        </div>
    }
</SectionContent>

<CascadingValue Value="this">
    <section class="col-span-10 bg-gray-700 h-full overflow-hidden flex-1 text-white">
        @Body
    </section>
</CascadingValue>

@code {
    private Guid? _communityId;

    public Guid CommunityId {
        get => _communityId.GetValueOrDefault(Guid.Empty);
        set => _communityId = value;
    }
}