@using Conflux.Components.Guards
@using Conflux.Components.Shared

@inherits LayoutComponentBase
@layout MainLayout

<RedirectToProfileSetup/>

<ExpandableLobbyLocationList/>

<div class="h-dvh w-dvw">
    @Body
</div>