@using Conflux.Components.Guards
@using Conflux.Components.Shared
@using Conflux.Services.Abstracts

@inherits LayoutComponentBase
@layout MainLayout

@implements IAsyncDisposable

@inject INotificationService NotificationService

<RedirectToProfileSetup/>

<ExpandableLobbyLocationList/>

<div class="h-dvh w-dvw">
    @Body
</div>

@code {
    protected override void OnInitialized() {
        NotificationService.JoinNotificationHub(CancellationToken.None);
    }

    public async ValueTask DisposeAsync() {
        await NotificationService.LeaveNotificationHub(CancellationToken.None);
    }
}