@using Conflux.Components.Guards
@using Conflux.Components.Shared
@using Conflux.Components.Shared.Icons
@using Conflux.Services.Abstracts
@using System.Security.Claims

@inherits LayoutComponentBase
@layout MainLayout

<RedirectToProfileSetup/>

<ExpandableLobbyLocationList/>

<div class="h-screen w-screen">
    @Body
</div>