@using Conflux.Components.Shared
@using Conflux.Components.Shared.Icons
@using Conflux.Database
@using Conflux.Services
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims

@inherits LayoutComponentBase

@layout LobbyLayout

@inject IDbContextFactory<ApplicationDbContext> DatabaseFactory
@inject ApplicationRedirectManager RedirectManager

<main class="flex flex-row size-full overflow-hidden">
    <aside class="col-span-2 bg-gray-700 h-full overflow-hidden text-white flex flex-col border-r border-r-gray-600 flex-none basis-20 lg:basis-64">
        <section class="flex-1 flex flex-col p-2 overflow-y-auto">
            <NavLink href="/lobby/activity" class="flex flex-row justify-center lg:justify-start items-center px-0 lg:px-4 py-2 rounded-lg w-full gap-3 flex-none cursor-pointer hover:bg-gray-500 active:bg-[#303b4c]" ActiveClass="bg-gray-600" Match="NavLinkMatch.Prefix">
                <Airplane class="size-6 flex-none fill-white"/>

                <p class="hidden lg:block">Activity</p>
            </NavLink>
            
            <NavLink href="/lobby/social" class="mt-2 flex flex-row justify-center lg:justify-start items-center pl-0 lg:pl-4 py-2 rounded-lg w-full gap-3 flex-none cursor-pointer hover:bg-gray-500" ActiveClass="bg-gray-600" Match="NavLinkMatch.Prefix">
                <People class="size-6 flex-none fill-white"/>
                
                <p class="hidden lg:block">Social</p>
            </NavLink>
            
            <NavLink href="/lobby/messages" class="mt-2 flex flex-row justify-center lg:justify-start items-center pl-0 lg:pl-4 py-2 rounded-lg w-full gap-3 flex-none cursor-pointer hover:bg-gray-500" ActiveClass="bg-gray-600" Match="NavLinkMatch.Prefix">
                <SpeechBubble Content="ChatContent.Text" Filled="false" class="size-6 flex-none fill-white"/>

                <p class="hidden lg:block">Messages</p>
            </NavLink>
        </section>
        
        @if (string.IsNullOrEmpty(_userDisplayName)) {
            <div class="flex-none h-16 border-t border-t-gray-600 p-2 flex flex-row justify-center items-center">
                <Spinner class="size-8 mx-auto fill-white"/>
            </div>
        } else {
            <div class="flex-none h-16 border-t border-t-gray-600 p-2 flex flex-row items-center">
                <Avatar class="h-full flex-none" ImageSrc="@_avatarSrc" ImageAlt="@(string.IsNullOrEmpty(_avatarSrc) ? string.Empty : "User Avatar")"/>
                
                <div class="ml-2 flex flex-col">
                    <p>@_userDisplayName</p>
                    <p class="text-xs">@_username</p>
                </div>
            </div>
        }

        @* <div class="flex-none h-16 border-t border-t-gray-600 p-2"> *@
        @*     @if (string.IsNullOrEmpty(_userDisplayName)) { *@
        @*          *@
        @*     } *@
        @*      *@
        @*     <Spinner class="size-8 mx-auto fill-white"/> *@
        @*      *@
        @*     $1$ <Avatar class="h-full"> #1# *@
        @*     $1$ #1# *@
        @*     $1$ </Avatar> #1# *@
        @* </div> *@
    </aside>
    
    <section class="col-span-10 bg-gray-700 h-full overflow-hidden flex-1">
        @Body
    </section>
</main>

@code {
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    private string _userDisplayName = null!, _username = null!;
    private string? _avatarSrc;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            var authState = await AuthenticationState;
            var nameIdentifier = authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!;

            await using (var database = await DatabaseFactory.CreateDbContextAsync()) {
                database.ChangeTracker.QueryTrackingBehavior = QueryTrackingBehavior.NoTracking;
                
                var data = await database.Users
                    .Where(u => u.Id == nameIdentifier)
                    .Select(u => new {
                        u.DisplayName,
                        u.UserName,
                        AvatarSrc = u.ProfilePicturePath,
                    }).FirstOrDefaultAsync();

                if (data == null) {
                    RedirectManager.To("/").Execute();
                    return;
                }

                _userDisplayName = data.DisplayName;
                _username = data.UserName!;
                _avatarSrc = data.AvatarSrc;
            }

            StateHasChanged();
        }
    }
}