@using Microsoft.AspNetCore.Identity
@using System.ComponentModel.DataAnnotations
@using SomeChattingPlatform.Components.Shared
@using SomeChattingPlatform.Database

@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager NavManager

<div class="bg-gray-700 w-full rounded-3xl shadow-xl text-white overflow-visible relative">
    <div class="absolute rounded-t-3xl h-12 w-full overflow-hidden">
        <div class="h-1 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"></div>
    </div>
    
    <section class="p-10">
        <h1 class="text-center font-bold text-3xl text-white">Welcome Back</h1>
        <p class="text-center text-gray-400 text-sm mt-2">Identify yourself</p>
    
        <EditForm method="post" class="mt-8" FormName="Login" EditContext="_editContext" OnInvalidSubmit="OnInvalidSubmit" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator/>
    
            <div>
                <label class="text-sm text-gray-300">Email</label>
    
                <TooltipContainer @ref="_emailTooltipContainer" ArrowCssClass="bg-[#ff4b6a]" TooltipPlacement="right" TooltipOffset="8">
                    <Target>
                        <InputText type="text" @bind-Value="_model.Email" placeholder="Enter Email" class="w-full h-11 mt-2 bg-gray-700/60 rounded-lg px-3 text-gray-200 placeholder-gray-500 outline-none border border-gray-600 focus:ring-2 focus:ring-indigo-500 focus:border-transparent transition-colors"/>
                    </Target>
    
                    <Tooltip>
                        <p class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md">@_emailTooltipErrorMessage</p>
                    </Tooltip>
                </TooltipContainer>
            </div>
    
            <div class="mt-4">
                <label class="text-sm text-gray-300">Password</label>
    
                <TooltipContainer @ref="_passwordTooltipContainer" ArrowCssClass="bg-[#ff4b6a]" TooltipPlacement="right" TooltipOffset="8">
                    <Target>
                        <SensitiveInputText class="mt-2 h-11" @bind-Value="_model.Password" Placeholder="Enter Password"/>
                    </Target>
    
                    <Tooltip>
                        <p class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md">@_passwordTooltipErrorMessage</p>
                    </Tooltip>
                </TooltipContainer>
            </div>
    
            <div class="flex items-center justify-between text-sm text-gray-400 mt-4">
                <label class="flex items-center space-x-2">
                    <InputCheckbox class="accent-indigo-500" @bind-Value="_model.RememberMe"/>
                    <span>Remember me</span>
                </label>
                <a href="#" class="hover:text-indigo-400 transition-colors">Forgot password?</a>
            </div>
    
            <button type="submit" class="w-full h-11 bg-gradient-to-r from-indigo-500 to-purple-500 hover:from-indigo-600 hover:to-purple-600 rounded-lg text-white font-semibold shadow-md transition-colors duration-300 mt-4 cursor-pointer">
                Log In
            </button>
    
            <p class="text-center text-gray-400 text-sm mt-2">
                No account? Click <span class="underline cursor-pointer" @onclick="ToRegister">here</span> to create one.
            </p>
        </EditForm>
    </section>
</div>

@code {
    [Parameter] public EventCallback SwitchToRegister { get; set; }

    private EditContext? _editContext;
    private InputModel _model;

    private TooltipContainer _emailTooltipContainer, _passwordTooltipContainer;
    private string? _emailTooltipErrorMessage, _passwordTooltipErrorMessage;

    private async Task ToRegister() {
        if (SwitchToRegister.HasDelegate) {
            await SwitchToRegister.InvokeAsync();
        }
    }

    protected override void OnInitialized() {
        _model = new();
        _editContext = new(_model);

        // No need to validate whenever field changed, only validate on form submit
        _editContext.OnFieldChanged += (sender, e) => { };
    }

    private void OnInvalidSubmit() {
        if (_editContext!.GetValidationMessages(() => _model.Email).FirstOrDefault() is { } emailMessage) {
            _emailTooltipErrorMessage = emailMessage;
            _emailTooltipContainer.ShowTooltip = true;
        } else {
            _emailTooltipErrorMessage = null;
            _emailTooltipContainer.ShowTooltip = false;
        }
        
        if (_editContext!.GetValidationMessages(() => _model.Password).FirstOrDefault() is { } passwordMessage) {
            _passwordTooltipErrorMessage = passwordMessage;
            _passwordTooltipContainer.ShowTooltip = true;
        } else {
            _passwordTooltipErrorMessage = null;
            _passwordTooltipContainer.ShowTooltip = false;
        }
    }

    private void OnValidSubmit() {
    }

    private sealed class InputModel {
        [Required]
        [StringLength(320, ErrorMessage = "Email cannot be longer than 320 characters.")]
        [EmailAddress]
        public string Email { get; set; }
        
        [Required]
        [MinLength(8, ErrorMessage = "Password must be longer or equal to 8 characters.")]
        public string Password { get; set; }
        
        public bool RememberMe { get; set; }
    }
}