root = true

[*.cs]
indent_style = space
indent_size = 4

dotnet_separate_import_directive_groups = true
dotnet_sort_system_directives_first = true

csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true

[*.{razor,html,css,js}]
indent_style = space
indent_size = 4