@using Conflux.Components.Pages.Community
@using Conflux.Helpers
@inherits BaseModal

@inject IJSRuntime JavascriptRuntime

<div class="flex flex-row justify-center items-center size-full text-white">
    <CommunityControlPanel CommunityId="CommunityId" OnCloseRequest="CloseModal"/>
</div>

@code {
    [Parameter, EditorRequired] public Guid CommunityId { get; set; }
}