@using Conflux.Web.Helpers
@using Humanizer
@using System.ComponentModel.DataAnnotations
@inherits BaseModal

@{
    Action closeDelegate = EventUtils.AsNonRenderingEventHandler(CloseModal);
}

<div class="flex flex-row justify-center items-center size-full text-white">
    <Card class="w-4/5 sm:w-3/4 md:w-1/2 lg:w-1/3">
        <CardHeader Title="Ban User/Member" Subtext="Judgement has arrived." OnCloseRequested="closeDelegate"/>

        <CardContent>
            <EditForm EditContext="_editContext" OnSubmit="OnSubmit">
                <DataAnnotationsValidator/>
                
                <label class="input-label">Ban Duration</label>
                <InputText @ref="_durationInputText" @bind-Value="@Model!.DurationText" class="input-field h-11 w-full mt-1"/>

                @if (_durationInputText is { Element: { } durationElement }) {
                    <Popover TargetReference="durationElement" IsShowing="@(!_editContext.IsValid(_banDurationField))" ArrowCssClass="bg-[#ff4b6a]" Placement="bottom" Offset="8">
                        <ValidationMessage For="() => Model.DurationText" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md"/>
                    </Popover>
                }
                
                @if (string.IsNullOrEmpty(Model.DurationText)) {
                    <p class="text-sm text-center text-gray-400 mt-1">Undefined duration</p>
                } else if (TryParseBanDuration(Model.DurationText, out var output)) {
                    <p class="text-sm text-center text-gray-400 mt-1">@output.Humanize(precision: 5)</p>
                } else {
                    <p class="text-sm text-center text-gray-400 mt-1">Invalid duration</p>
                }
                
                <label class="input-label">Reason</label>
                <InputTextArea @ref="_reasonInputTextArea" @bind-Value="Model.Reason" class="mt-1 input-field h-44 w-full px-1.5 py-1 resize-none" maxlength="512"/>
                
                @if (_reasonInputTextArea is { Element: { } reasonElement }) {
                    <Popover TargetReference="reasonElement" IsShowing="@(!_editContext.IsValid(_reasonField))" ArrowCssClass="bg-[#ff4b6a]" Placement="bottom" Offset="8">
                        <ValidationMessage For="() => Model.Reason" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md"/>
                    </Popover>
                }
                
                <p class="text-gray-400 text-sm text-center mt-2">Are you sure you want to dismiss this report?<br/>This action cannot be reverted for the time being.</p>
                
                <div class="mt-2 flex flex-row justify-end gap-2">
                    <button type="button" class="button-danger w-24" @onclick="closeDelegate">Cancel</button>
                    
                    <ProcessingStateButton IsProcessing="_isProcessingOperation" type="submit" class="button-primary w-24" ProcessingCssClass="flex flex-row justify-center items-center">
                        <ChildContent>
                            Confirm
                        </ChildContent>
                                
                        <ProcessingContent>
                            <Spinner class="size-5 fill-white"/>
                        </ProcessingContent>
                    </ProcessingStateButton>
                </div>
            </EditForm>
        </CardContent>
    </Card>
</div>

@code {
    [Parameter, EditorRequired] public EventCallback<BanInformation> OnConfirm { get; set; }

    [SupplyParameterFromForm] private InputModel? Model { get; set; }
    private EditContext _editContext = null!;
    private ValidationMessageStore _messageStore = null!;
    
    private InputText? _durationInputText;
    private InputTextArea? _reasonInputTextArea;
    
    private bool _isProcessingOperation;

    private FieldIdentifier _banDurationField, _reasonField;

    protected override void OnInitialized() {
        Model ??= new();
        _editContext = new(Model);
        _messageStore = new(_editContext);
        
        _editContext.OnValidationRequested += ValidateBanDuration;

        _banDurationField = FieldIdentifier.Create(() => Model.DurationText);
        _reasonField = FieldIdentifier.Create(() => Model.Reason);
    }

    private void ValidateBanDuration(object? sender, ValidationRequestedEventArgs args) {
        _messageStore.Clear();

        if (TryParseBanDuration(Model!.DurationText, out var banDuration)) {
            if (banDuration <= TimeSpan.Zero) {
                _messageStore.Add(_banDurationField, "Zero or Negative duration is not allowed.");
            }
        } else {
            _messageStore.Add(_banDurationField, "Invalid duration.");
        }
    }

    private async Task OnSubmit() {
        if (!_editContext.Validate()) {
            return;
        }
        
        if (OnConfirm.HasDelegate) {
            _isProcessingOperation = true;

            try {
                await OnConfirm.InvokeAsync(new(TimeSpan.Parse(Model!.DurationText), Model.Reason));
            } finally {
                _isProcessingOperation = false;
            }
        }
        
        CloseModal();
    }
    
    private static bool TryParseBanDuration(string text, out TimeSpan duration) {
        if (text == "Infinity") {
            duration = TimeSpan.MaxValue;
            return true;
        }

        if (TimeSpan.TryParseExact(text, "g", null, out duration)) {
            if (duration < TimeSpan.Zero) {
                duration = TimeSpan.Zero;
                return false;
            }

            return true;
        }

        duration = TimeSpan.Zero;
        return false;
    }

    public readonly record struct BanInformation(TimeSpan Duration, string? Reason);

    private sealed class InputModel {
        [StringLength(512, ErrorMessage = "Reason cannot be longer than {1} characters.")] public string? Reason { get; set; }
        public string DurationText { get; set; } = string.Empty;
    }
}