@using Conflux.Application.Dto
@using Conflux.Components.Pages.Community
@using Conflux.Domain.Events
@using Conflux.Helpers
@using Conflux.Services.Abstracts
@using System.Security.Claims

@inherits BaseModal
@implements IDisposable

@inject ICommunityService CommunityService
@inject ICommunityEventDispatcher CommunityEventDispatcher

<div class="flex flex-row justify-center items-center size-full text-white">
    <CascadingValue Value="_memberRole">
        <CommunityControlPanel CommunityId="CommunityId" OnCloseRequest="@((Action<object?>)CloseModal)"/>
    </CascadingValue>
</div>

@code {
    // Copy from CommunityPage until we figure out a better way to managing parameters and rerender.
    [Parameter, EditorRequired] public Guid CommunityId { get; set; }
    [Parameter, EditorRequired] public MemberRolePermissions? MemberRolePermissions { get; set; }
    
    private MemberRolePermissions? _memberRole;

    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    protected override void OnParametersSet() {
        _memberRole = MemberRolePermissions;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            var authState = await AuthenticationState;
            var userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!;

            _memberRole = await CommunityService.GetUserRolePermissionsAsync(userId, CommunityId);

            StateHasChanged();
            
            CommunityEventDispatcher.OnMemberRoleChanged += OnMemberRoleChanged;
            CommunityEventDispatcher.OnRoleDeleted += OnRoleDeleted;
            CommunityEventDispatcher.OnRolePermissionUpdated += OnRolePermissionUpdated;
        }
    }

    private void OnMemberRoleChanged(MemberRoleChangedEventArgs args) {
        if (args.RoleId == _memberRole?.RoleId) {
            InvokeAsync(ReloadMemberRole);
        }
    }

    private void OnRoleDeleted(CommunityRoleDeletedEventArgs args) {
        if (args.RoleId == _memberRole?.RoleId) {
            _memberRole = MemberRolePermissions.Default;
            InvokeAsync(StateHasChanged);
        }
    }

    private void OnRolePermissionUpdated(CommunityRolePermissionUpdatedEventArg args) {
        if (args.RoleId == _memberRole?.RoleId) {
            InvokeAsync(ReloadMemberRole);
        }
    }

    private async Task ReloadMemberRole() {
        var authState = await AuthenticationState;
        var userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!;

        _memberRole = await CommunityService.GetUserRolePermissionsAsync(userId, CommunityId);
        StateHasChanged();
    }
    
    public void Dispose() {
        CommunityEventDispatcher.OnMemberRoleChanged -= OnMemberRoleChanged;
        CommunityEventDispatcher.OnRoleDeleted -= OnRoleDeleted;
        CommunityEventDispatcher.OnRolePermissionUpdated -= OnRolePermissionUpdated;
    }
}