@using Conflux.Web.Helpers
@inherits BaseModal

@{
    Action closeDelegate = EventUtils.AsNonRenderingEventHandler(CloseModal);
}

<div class="flex flex-row justify-center items-center size-full text-white">
    <Card>
        <CardHeader Title="@Title" Subtext="@Subtitle" @onclick="closeDelegate"/>

        <CardContent class="pb-3">
            @Body
        </CardContent>
        
        <CardFooter class="flex flex-row justify-end gap-2">
            <button type="button" class="button-primary w-24" @onclick="closeDelegate">Cancel</button>
            
            <ProcessingStateButton IsProcessing="_isProcessingOperation" type="button" class="button-danger w-24" ProcessingCssClass="flex flex-row justify-center items-center" @onclick="HandleConfirmDelete">
                <ChildContent>
                    Confirm
                </ChildContent>
                        
                <ProcessingContent>
                    <Spinner class="size-5 fill-white"/>
                </ProcessingContent>
            </ProcessingStateButton>
        </CardFooter>
    </Card>
</div>

@code {
    [Parameter, EditorRequired] public string Title { get; set; }
    [Parameter] public string? Subtitle { get; set; }
    
    [Parameter, EditorRequired] public RenderFragment Body { get; set; }
    
    [Parameter, EditorRequired] public EventCallback OnConfirm { get; set; }

    private bool _isProcessingOperation;

    private async Task HandleConfirmDelete() {
        if (OnConfirm.HasDelegate) {
            _isProcessingOperation = true;

            try {
                await OnConfirm.InvokeAsync();
            } finally {
                _isProcessingOperation = false;
            }
        }
        
        CloseModal();
    }
}