@using Conflux.Web.Services
@using Microsoft.EntityFrameworkCore
@using System.ComponentModel.DataAnnotations
@using System.Security.Claims

@inherits BaseModal

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject ApplicationRedirectManager RedirectManager

<EditForm EditContext="_statusEditContext" FormName="Status" method="post" class="flex flex-row justify-center items-center size-full text-white">
    <Card>
        <CardHeader Title="Status" Subtext="Thinking about what to think..." OnCloseRequested="@((Action<object?>)CloseModal)"/>
                
        <CardContent class="pb-3">
            <DataAnnotationsValidator/>
                    
            <div class="flex flex-col gap-2">
                <label class="font-bold text-gray-300">Status</label>

                @{
                    string classes = $"w-full h-11 input-field {(_statusEditContext.IsValid(_statusTextField) ? string.Empty : "border-red-700")}";
                }

                <InputText @ref="_statusInputText" @bind-Value="StatusModel!.StatusText" placeholder="Hmmm..." class="@classes" maxlength="128"/>
                        
                @if (_statusInputText?.Element is { } elementReference) {
                    <Popover TargetReference="elementReference" ArrowCssClass="bg-[#ff4b6a]" Placement="top" Offset="8" IsShowing="@(!_statusEditContext.IsValid(_statusTextField))">
                        <ValidationMessage For="() => StatusModel!.StatusText" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md"></ValidationMessage>
                    </Popover>
                }
            </div>
        </CardContent>
                
        <CardFooter class="border-t-0 flex flex-row justify-end gap-3">
            <button class="button-danger w-24" @onclick="@((Action<object?>)CloseModal)">Cancel</button>
            
            <ProcessingStateButton @bind-IsProcessing="_isProcessingStatus" class="button-primary w-24" ProcessingCssClass="flex flex-row justify-center items-center" @onclick="UpdateStatus">
                <ChildContent>
                    Apply
                </ChildContent>
                
                <ProcessingContent>
                    <Spinner class="size-5 fill-white"/>
                </ProcessingContent>
            </ProcessingStateButton>
        </CardFooter>
    </Card>
</EditForm>

@code {
    private bool _isProcessingStatus;
    
    [SupplyParameterFromForm(FormName = "Status")] private StatusInputModel? StatusModel { get; set; }
    private EditContext _statusEditContext = null!;
    private FieldIdentifier _statusTextField;
    
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;
    private string _userId = null!;

    private InputText? _statusInputText;

    protected override void OnInitialized() {
        StatusModel ??= new();
        _statusEditContext = new(StatusModel);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            var authState = await AuthenticationState;
            _userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!;
            
            if (_userId == null!) {
                RedirectManager.To("/").Execute();
                return;
            }
            
            _statusTextField = FieldIdentifier.Create(() => StatusModel!.StatusText);

            StateHasChanged();
        }
    }
    
    private async Task UpdateStatus() {
        if (!_statusEditContext.Validate()) {
            return;
        }

        _isProcessingStatus = true;

        try {
            string status = StatusModel!.StatusText?.Trim() ?? string.Empty;

            await using (var database = await DbContextFactory.CreateDbContextAsync()) {
                database.ChangeTracker.QueryTrackingBehavior = QueryTrackingBehavior.NoTracking;
                
                await database.Users
                    .Where(r => r.Id == _userId)
                    .ExecuteUpdateAsync(b => {
                        b.SetProperty(r => r.StatusText, status);
                    });
            }

            CloseModal(status);
        } finally {
            _isProcessingStatus = false;
        }
    }
    
    private sealed class StatusInputModel {
        [MaxLength(128, ErrorMessage = "Status Text can only have maximum length of {1} characters.")]
        public string? StatusText { get; set; }
    }
}