@using System.Security.Claims
@using Conflux.Web.Helpers

@inherits BaseModal

@inject NavigationManager NavigationManager

<div class="flex flex-row justify-center items-center size-full text-white p-0 md:p-8">
    <Card class="absolute inset-0 md:static md:h-full md:w-4/5 lg:w-3/5 rounded-none! md:rounded-xl!">
        <header class="py-3 px-3 flex-none flex flex-row justify-end gap-2">
            <AuthorizeView Roles="Admin, Moderator, SystemDeveloper">
                <button @ref="_staffActionButton" class="group cursor-pointer" @onclick="ToggleStaffActionButton">
                    <ThreeDots class="size-4 fill-gray-300 hover:fill-white" Size="CrossSize.Large"/>
                </button>
                
                <Popover TargetReference="_staffActionButton" @bind-IsShowing="_isShowingStaffActionButton" CloseWhenClickOutside="true" Placement="bottom" Offset="8" ArrowCssClass="bg-gray-600 -z-1">
                    <div class="bg-gray-600 p-1 text-white text-sm rounded-lg shadow-md flex flex-col gap-1 z-50" tabindex="-1">
                        <button class="p-1.5! button-nav-menu text-left" disabled="@(_displayType == DisplayType.Profile)" @onclick="SwitchToProfile">Profile</button>
                        <button class="p-1.5! button-nav-menu text-left" disabled="@(_displayType == DisplayType.Staff)" @onclick="SwitchToStaff">Management</button>
                    </div>
                </Popover>
            </AuthorizeView>
            
            <button class="group cursor-pointer" @onclick="EventUtils.AsNonRenderingEventHandler((Action)CloseModal)">
                <Cross class="size-4 fill-gray-300 hover:fill-white" Size="CrossSize.Large"/>
            </button>
        </header>
        
        <CascadingValue Value="_authUserId" Name="SessionUserId">
            @switch (_displayType) {
                case DisplayType.Profile:
                    <UserProfileContent InspectingUserId="InspectingUserId" 
                                        InspectingMemberId="InspectingMemberId" 
                                        OnCloseRequested="EventUtils.AsNonRenderingEventHandler(CloseModal)"/>
                    break;
                    
                case DisplayType.Staff:
                    <UserManagementContent InspectingUserId="InspectingUserId"
                                           InspectingMemberId="InspectingMemberId"/>
                    break;
            }
        </CascadingValue>
    </Card>
</div>

@code {
    [Parameter, EditorRequired] public required Guid InspectingUserId { get; set; }
    [Parameter] public Guid? InspectingMemberId { get; set; }

    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;
    private Guid _authUserId;

    private ElementReference _staffActionButton;

    private DisplayType _displayType = DisplayType.Profile;

    private bool _isShowingStaffActionButton;
    
    protected override async Task OnParametersSetAsync() {
        var authState = await AuthenticationState;

        if (authState.User.FindFirstValue(ClaimTypes.NameIdentifier) is not { } id ||
            !Guid.TryParse(id, out _authUserId))
        {
            NavigationManager.NavigateTo("/", true);
        }
    }

    private void ToggleStaffActionButton() {
        _isShowingStaffActionButton ^= true;
    }
    
    private void SwitchToProfile() {
        _displayType = DisplayType.Profile;
        _isShowingStaffActionButton = false;
    }

    private void SwitchToStaff() {
        _displayType = DisplayType.Staff;
        _isShowingStaffActionButton = false;
    }

    private enum DisplayType {
        Profile,
        Staff,
    }
}