@using Conflux.Web.Helpers
@using System.ComponentModel.DataAnnotations
@inherits BaseModal

@{
    Action closeDelegate = EventUtils.AsNonRenderingEventHandler(CloseModal);
}

<div class="flex flex-row justify-center items-center size-full text-white">
    <Card class="w-4/5 sm:w-3/4 md:w-1/2 lg:w-1/3">
        <CardHeader Title="Warn User/Member" Subtext="Naughty, naughty..." OnCloseRequested="closeDelegate"/>

        <CardContent>
            <EditForm Model="this" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator/>
                
                <label class="input-label">Reason</label>
                <InputTextArea @ref="_reasonInputTextArea" @bind-Value="Model!.Reason" class="mt-1 input-field h-44 w-full px-1.5 py-1 resize-none" maxlength="512"/>
                
                @if (_reasonInputTextArea is { Element: { } reasonElement }) {
                    <Popover TargetReference="reasonElement" IsShowing="@(!_editContext!.IsValid(_reasonField))" ArrowCssClass="bg-[#ff4b6a]" Placement="bottom" Offset="8">
                        <ValidationMessage For="() => Model.Reason" class="bg-[#ff4b6a] p-2 text-white text-sm rounded-lg shadow-md"/>
                    </Popover>
                }
                
                <p class="text-gray-400 text-sm text-center mt-2">Are you sure you want to warn this user/member?<br/>This action cannot be reverted for the time being.</p>
                
                <div class="mt-2 flex flex-row justify-end gap-2">
                    <button type="button" class="button-danger w-24" @onclick="closeDelegate">Cancel</button>
                    
                    <ProcessingStateButton IsProcessing="_isProcessingOperation" type="submit" class="button-primary w-24" ProcessingCssClass="flex flex-row justify-center items-center">
                        <ChildContent>
                            Confirm
                        </ChildContent>
                                
                        <ProcessingContent>
                            <Spinner class="size-5 fill-white"/>
                        </ProcessingContent>
                    </ProcessingStateButton>
                </div>
            </EditForm>
        </CardContent>
        
    </Card>
</div>

@code {
    [Parameter, EditorRequired] public EventCallback<string> OnConfirm { get; set; }

    [SupplyParameterFromForm] private InputModel? Model { get; set; }
    private EditContext? _editContext;

    private InputTextArea? _reasonInputTextArea;
    private FieldIdentifier _reasonField;
    
    private bool _isProcessingOperation;

    protected override void OnInitialized() {
        Model ??= new();
        _editContext = new(Model);

        _reasonField = FieldIdentifier.Create(() => Model.Reason);
    }

    private async Task OnValidSubmit() {
        if (OnConfirm.HasDelegate) {
            _isProcessingOperation = true;

            try {
                await OnConfirm.InvokeAsync(Model!.Reason);
            } finally {
                _isProcessingOperation = false;
            }
        }
        
        CloseModal();
    }
    
    private sealed class InputModel {
        [StringLength(512, ErrorMessage = "Reason cannot be longer than {1} characters.")] public string? Reason { get; set; }
    }
}