@using Conflux.Components.Pages.Settings
@using Conflux.Web.Components.Shared
@using Microsoft.AspNetCore.Components.Sections
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject IContentService ContentService

<EditForm EditContext="_editContext" class="grid grid-cols-1 md:grid-cols-2 gap-2">
    <div>
        <label class="flex-none input-label">Avatar</label>

        <div class="flex justify-center">
            <PreviewableImageInput @ref="_avatarInputElement" 
                                   ContainerCssClass="flex justify-center" 
                                   @bind-File="Model.Avatar" @bind-File:after="HandleAfterAvatarSet" 
                                   ImageSrc="@(string.IsNullOrEmpty(OriginalInputs.AvatarPath) ? null : ContentService.GetAssetPath(OriginalInputs.AvatarPath))"
                                   class="flex-1 h-64 aspect-square rounded-full"/>
        </div>
    </div>
    
    <div>
        <label class="input-label">Banner</label>
        
        <PreviewableImageInput @ref="_bannerInputElement" 
                               ContainerCssClass="flex-1 w-full h-64"
                               @bind-File="Model.Banner" @bind-File:after="HandleAfterBannerSet"
                               ImageSrc="@(string.IsNullOrEmpty(OriginalInputs.BannerPath) ? null : ContentService.GetAssetPath(OriginalInputs.BannerPath))"
                               class="size-full"/>
    </div>
    
    <div class="pb-1">
        <label class="input-label">Name</label>
        
        <InputText @bind-Value="Model.Name" class="input-field h-11 w-full mt-1" maxlength="64"/>
    </div>
    
    <div class="pb-1">
        <label class="input-label">Description</label>
        
        <InputText @bind-Value="Model.Description" class="input-field h-11 w-full mt-1" maxlength="255"/>
    </div>
</EditForm>

<SectionContent SectionName="Community.ControlPanel.Profile.OutsideContainer">
    <UnsavedChangesPopup IsShowing="_hasUnsavedChanges" OnCancelRequest="CancelEdit" OnSaveRequest="SaveProfile"/>
</SectionContent>

@code {
    [Parameter, EditorRequired] public required Guid CommunityId { get; set; }
    [Parameter, EditorRequired] public required CommunityProfileTabContent.ProfileEditModel Model { get; set; }
    [Parameter, EditorRequired] public required CommunityProfileTabContent.OriginalInputs OriginalInputs { get; set; }
    
    [Parameter] public string? AvatarPreviewUrl { get; set; }
    [Parameter] public EventCallback<string?> AvatarPreviewUrlChanged { get; set; }
    [Parameter] public Expression<Func<string?>> AvatarPreviewUrlExpression { get; set; } = null!;
    
    [Parameter] public string? BannerPreviewUrl { get; set; }
    [Parameter] public EventCallback<string?> BannerPreviewUrlChanged { get; set; }
    [Parameter] public Expression<Func<string?>> BannerPreviewUrlExpression { get; set; } = null!;
    
    private EditContext _editContext = null!;
    private ValidationMessageStore _messageStore = null!;
    private FieldIdentifier _avatarFileField, _bannerFileField, _nameField, _descriptionField;

    private bool _hasUnsavedChanges;

    private PreviewableImageInput _avatarInputElement = null!, _bannerInputElement = null!;

    protected override void OnInitialized() {
        _editContext = new(Model);
        _messageStore = new(_editContext);

        _editContext.OnValidationRequested += ValidateImages;
        
        _editContext.OnFieldChanged += (sender, args) => {
            if (_editContext.IsValid(args.FieldIdentifier)) {
                _hasUnsavedChanges = true;
            }
        };
        
        _avatarFileField = FieldIdentifier.Create(() => Model.Avatar);
        _bannerFileField = FieldIdentifier.Create(() => Model.Banner);
        _nameField = FieldIdentifier.Create(() => Model.Name);
        _descriptionField = FieldIdentifier.Create(() => Model.Description);
    }
    
    private void ValidateImages(object? sender, ValidationRequestedEventArgs args) {
        _messageStore.Clear();
        
        if (Model.Avatar is { Operation: ImageUploadOperation.Upload, File: { } avatarFile }) {
            if (avatarFile.ContentType is not "image/png" and not "image/jpeg" and not "image/jpg") {
                _messageStore.Add(_avatarFileField, "Avatar file is not valid PNG or JPEG.");
                return;
            }

            if (avatarFile.Size > ApplicationConstants.MaxCommunityAvatarSize) {
                _messageStore.Add(_avatarFileField, $"Avatar surpassed maximum allowed size of {ApplicationConstants.MaxCommunityAvatarSize} bytes.");
            }
        }
        
        if (Model.Banner is { Operation: ImageUploadOperation.Upload, File: { } bannerFile }) {
            if (bannerFile.ContentType is not "image/png" and not "image/jpeg" and not "image/jpg") {
                _messageStore.Add(_avatarFileField, "Banner file is not valid PNG or JPEG.");
                return;
            }

            if (bannerFile.Size > ApplicationConstants.MaxCommunityAvatarSize) {
                _messageStore.Add(_avatarFileField, $"Banner surpassed maximum allowed size of {ApplicationConstants.MaxCommunityBannerSize} bytes.");
            }
        }
    }

    private void HandleAfterAvatarSet() {
        _hasUnsavedChanges = true;
    }
    
    private void HandleAfterBannerSet() {
        _hasUnsavedChanges = true;
    }
    
    private async Task CancelEdit() {
        await _avatarInputElement.RequestDelete();
        await _bannerInputElement.RequestDelete();

        Model.Name = OriginalInputs.Name;
        Model.Description = OriginalInputs.Description;
        
        _hasUnsavedChanges = false;
        
        StateHasChanged();
    }

    private async Task SaveProfile() {
        if (!_editContext.Validate()) {
            return;
        }

        string? avatarPath = null, bannerPath = null;

        switch (Model.Avatar.Operation) {
            case ImageUploadOperation.Upload:
            {
                await using var stream = Model.Avatar.File!.OpenReadStream(ApplicationConstants.MaxCommunityAvatarSize);
                avatarPath = await ContentService.UploadCommunityAvatarAsync(stream, CommunityId);
                break;
            }

            case ImageUploadOperation.Delete:
            {
                await ContentService.DeleteCommunityAvatarAsync(CommunityId);
                break;
            }
        }
        
        switch (Model.Banner.Operation) {
            case ImageUploadOperation.Upload:
            {
                await using var stream = Model.Banner.File!.OpenReadStream(ApplicationConstants.MaxCommunityBannerSize);
                bannerPath = await ContentService.UploadCommunityBannerAsync(stream, CommunityId);
                break;
            }

            case ImageUploadOperation.Delete:
            {
                await ContentService.DeleteCommunityBannerAsync(CommunityId);
                break;
            }
        }

        await using var dbContext = await DbContextFactory.CreateDbContextAsync();
        dbContext.ChangeTracker.QueryTrackingBehavior = QueryTrackingBehavior.NoTracking;

        await dbContext.Communities.Where(x => x.Id == CommunityId).ExecuteUpdateAsync(builder => {
            builder.SetProperty(x => x.Name, Model.Name);
            builder.SetProperty(x => x.Description, Model.Description);
            
            switch (Model.Avatar.Operation) {
                case ImageUploadOperation.Upload:
                    builder.SetProperty(x => x.AvatarPath, avatarPath);
                    break;

                case ImageUploadOperation.Delete:
                    builder.SetProperty(x => x.AvatarPath, (string?)null);
                    break;
            }
        
            switch (Model.Banner.Operation) {
                case ImageUploadOperation.Upload:
                    builder.SetProperty(x => x.BannerPath, bannerPath);
                    break;

                case ImageUploadOperation.Delete:
                    builder.SetProperty(x => x.BannerPath, (string?)null);
                    break;
            }
        });

        _hasUnsavedChanges = false;
        StateHasChanged();
    }
}