@page "/community/{CommunityId:guid}/{Channel?}"

@using Conflux.Application.Dto
@using Conflux.Components.Layout
@using Conflux.Domain.Events
@using Microsoft.AspNetCore.Components.Sections
@using System.Security.Claims

@layout SidebarLobbyLayout

@inject ICommunityService CommunityService
@inject ICommunityEventDispatcher CommunityEventDispatcher
@inject IUserNotificationService UserNotificationService

@implements IAsyncDisposable

<CascadingValue Value="_memberInformation" IsFixed="false">
    <SectionContent SectionName="lobby-sidebar">
        <ChannelSidebar CommunityId="CommunityId"/>
    </SectionContent>

    @switch (Channel) {
        case "welcome" or null:
            <div class="flex justify-center items-center h-full">
                <p class="text-sm text-gray-400">Customizable WELCOME page is currently being constructed.</p>
            </div>
            break;

        case "events":
            <div class="flex justify-center items-center h-full">
                <p class="text-sm text-gray-400">Customizable EVENTS page is currently being constructed.</p>
            </div>
            break;

        case "rules":
            <div class="flex justify-center items-center h-full">
                <p class="text-sm text-gray-400">Customizable RULES page is currently being constructed.</p>
            </div>
            break;

        case var _ when Guid.TryParse(Channel, out var channelId):
            <ChannelContentInterface CommunityId="CommunityId" ChannelId="channelId"/>
            break;

        default:
            <div class="flex justify-center items-center h-full">
                <p class="text-sm text-gray-400">Hmmm how did you get here?</p>
            </div>
            break;
    }
</CascadingValue>

@code {
    [Parameter] public Guid CommunityId { get; set; }
    private Guid _previousCommunityId;

    [Parameter] public string? Channel { get; set; }

    private MemberInformationDTO? _memberInformation;
    private string _userId = null!;

    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    protected override async Task OnParametersSetAsync() {
        var authState = await AuthenticationState;
        _userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (_previousCommunityId != CommunityId) {
            await CommunityEventDispatcher.Disconnect(_previousCommunityId);
            await CommunityEventDispatcher.Connect(CommunityId);

            CommunityEventDispatcher.OnMemberRoleChanged += OnMemberRoleChanged;
            CommunityEventDispatcher.OnRoleDeleted += OnRoleDeleted;
            CommunityEventDispatcher.OnRolePermissionUpdated += OnRolePermissionUpdated;

            UserNotificationService.OnCommunityBanned += OnCommunityBanned;

            _memberInformation = await CommunityService.GetMemberInformationAsync(CommunityId, _userId);
            StateHasChanged();
            
            _previousCommunityId = CommunityId;
        }
    }

    private void OnMemberRoleChanged(MemberRoleChangedEventArgs args) {
        if (_memberInformation is { } info && args.RoleId == info.Role.RoleId) {
            InvokeAsync(ReloadMemberInformation);
        }
    }

    private void OnRoleDeleted(CommunityRoleDeletedEventArgs args) {
        if (_memberInformation is { } info && args.RoleId == info.Role.RoleId) {
            InvokeAsync(ReloadMemberInformation);
        }
    }

    private void OnRolePermissionUpdated(CommunityRolePermissionUpdatedEventArg args) {
        if (_memberInformation is { } info && args.RoleId == info.Role.RoleId) {
            InvokeAsync(ReloadMemberInformation);
        }
    }
    
    private void OnCommunityBanned(CommunityBannedEventArgs args) {
        if (args.CommunityId == CommunityId && _userId == args.UserId) {
            InvokeAsync(ReloadMemberInformation);
        }
    }

    private async Task ReloadMemberInformation() {
        _memberInformation = await CommunityService.GetMemberInformationAsync(CommunityId, _userId);
        StateHasChanged();
    }
    
    public async ValueTask DisposeAsync() {
        CommunityEventDispatcher.OnMemberRoleChanged -= OnMemberRoleChanged;
        CommunityEventDispatcher.OnRoleDeleted -= OnRoleDeleted;
        CommunityEventDispatcher.OnRolePermissionUpdated -= OnRolePermissionUpdated;
        
        UserNotificationService.OnCommunityBanned -= OnCommunityBanned;
        
        await CommunityEventDispatcher.Disconnect(CommunityId);
    }
}