@using Conflux.Components.Pages.Settings
@using Conflux.Components.Shared

<Card class="absolute inset-0 rounded-none! lg:inset-6 lg:rounded-xl!">
    <CardHeader Title="Control Panel" OnCloseRequested="OnCloseRequest" class="border-b border-b-gray-600"/>
        
    <CardContent>
        <TabContainer @bind-ActiveId="_activeTabId" class="size-full flex flex-col lg:flex-row" ButtonContainerCssClass="flex-none order-2 lg:order-1 lg:basis-64 border-t border-t-gray-600 border-r-0 lg:border-r lg:border-r-gray-600 lg:border-t-0 overflow-x-scroll pt-1 lg:pr-2 flex flex-row items-center lg:items-start scrollbar-hide" ContentContainerCssClass="flex-1 order-1 lg:order-2 overflow-y-hidden">
            <Buttons>
                <section class="flex flex-row lg:flex-col items-center lg:items-start lg:w-full gap-1">
                    <TabButton TabId="profile" class="flex-none cursor-pointer hover:bg-white/15 active:bg-black/20 inline-flex rounded-md lg:w-full items-center p-1" ActiveCssClass="bg-white/10!">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" class="fill-none stroke-1 stroke-white size-12 lg:size-9">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                        </svg>

                        <span class="hidden lg:block ml-1">Profile</span>
                    </TabButton>
                    
                    <TabButton TabId="roles" class="flex-none cursor-pointer hover:bg-white/15 active:bg-black/20 inline-flex rounded-md lg:w-full items-center p-1" ActiveCssClass="bg-white/10!">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" class="fill-none stroke-1 stroke-white size-12 lg:size-9">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                        </svg>

                        <span class="hidden lg:block ml-1">Roles</span>
                    </TabButton>
                </section>
            </Buttons>
            
            <Contents>
                <TabContent TabId="profile" class="size-full">
                    <CommunityProfileTabContent CommunityId="CommunityId"/>
                </TabContent>
                
                <TabContent TabId="roles" class="size-full">
                    <CommunityRolesTabContent CommunityId="CommunityId"/>
                </TabContent>
            </Contents>
        </TabContainer>
    </CardContent>
</Card>

@code {
    [Parameter] public Guid CommunityId { get; set; }
    [Parameter] public EventCallback OnCloseRequest { get; set; }

    private string _activeTabId = "profile";
}