@using System.Linq.Expressions
@implements IAsyncDisposable

@inject IJSRuntime JSRuntime

<div class="fixed inset-0 z-1000 pointer-events-none @_cssClass">
    @* Dark Overlay *@
    <Overlay class="bg-transparent" ActiveCssClass="bg-black/80!" OnClick="@OnClickOutside" @bind-Open="Open"></Overlay>
    
    @* Contents *@
    @if (DisplayContent) {
        @ChildContent
    }
</div>

@code {
    [Parameter] public bool Open { get; set; }
    [Parameter] public EventCallback<bool> OpenChanged { get; set; }
    [Parameter] public Expression<Func<bool>>? OpenExpression { get; set; }

    [Parameter] public bool DisplayContent { get; set; } = true;
    [Parameter] public EventCallback<bool> DisplayContentChanged { get; set; }
    [Parameter] public Expression<Func<bool>>? DisplayContentExpression { get; set; }
    
    [Parameter, EditorRequired] public required RenderFragment ChildContent { get; set; }

    [Parameter] public EventCallback<MouseEventArgs> OnClickOutside { get; set; }
    
    [Parameter] public string? ContainerCssClass { get; set; }

    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private string? _cssClass;

    internal IJSObjectReference Module { get; private set; } = null!;

    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _cssClass = Convert.ToString(obj);
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key is not "class").ToDictionary();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            Module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./scripts/components/modal.ts");
        }
    }

    public async ValueTask DisposeAsync() {
        if (Module != null!) {
            try {
                await Module.DisposeAsync();
            } catch (JSDisconnectedException) {
            }
        }
    }
}