@using System.Globalization

<button class="border-2 border-indigo-500/30 size-12 py-2 rounded-full flex flex-col justify-around items-center cursor-pointer @_class" @onclick="Toggle">
    @if (_show) {
        <svg xmlns="http://www.w3.org/2000/svg" fill="#4e4e4e" class="size-6" viewBox="0 0 16 16" stroke="#4e4e4e" stroke-width="1">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
        </svg>
    } else {
        <span class="w-3/5 h-[3px] bg-[#4e4e4e]"></span>
        <span class="w-3/5 h-[3px] bg-[#4e4e4e]"></span>
        <span class="w-3/5 h-[3px] bg-[#4e4e4e]"></span>
    }
</button>

@code {
    private bool _show;
    private string? _class;
    
    [Parameter] public EventCallback<bool> OnToggle { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _class = Convert.ToString(obj, CultureInfo.InvariantCulture);
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key != "class").ToDictionary();
    }

    public async Task Trigger(bool show) {
        if (_show == show) return;

        _show = show;
        StateHasChanged();
        
        if (OnToggle.HasDelegate) {
            await OnToggle.InvokeAsync(_show);
        }
    }

    private async Task Toggle() {
        _show ^= true;
        StateHasChanged();

        if (OnToggle.HasDelegate) {
            await OnToggle.InvokeAsync(_show);
        }
    }
}