@using Conflux.Components.Shared.Icons
@using Conflux.Database
@using Conflux.Database.Entities
@using Microsoft.EntityFrameworkCore

@implements IAsyncDisposable

@inject IJSRuntime JavascriptRuntime
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject ILogger<MessageInputArea> Logger

<footer @attributes="AdditionalAttributes">
    <textarea @ref="_textareaElement"
        class="flex-1 input-field w-full max-w-full py-2 max-h-96 overflow-x-hidden overflow-y-auto wrap-break-word break-all resize-none scrollbar-hide"
        rows="1"
        placeholder="Enter the message..."
        disabled="@_disabled"
        @bind="TextBody" @bind:event="oninput">
    </textarea>

    <button class="flex-none rounded-full bg-transparent hover:bg-white/15 active:bg-black/15 p-2 cursor-pointer group disabled:bg-transparent disabled:cursor-default" disabled="@_disabled">
        <Paperclip class="size-6 fill-white group-disabled:fill-gray-400"/>
    </button>

    <button class="flex-none rounded-full bg-transparent hover:bg-white/15 active:bg-black/15 p-2 cursor-pointer group disabled:bg-transparent disabled:cursor-default" disabled="@_disabled">
        <Media Type="MediaType.Gif" class="size-6 fill-none stroke-white group-disabled:stroke-gray-400"/>
    </button>
</footer>

@code {
    [Parameter] public EventCallback<string> OnSubmit { get; set; }
    
    public string TextBody { get; set; } = string.Empty;

    private ElementReference _textareaElement;
    
    private IJSObjectReference? _module;
    private DotNetObjectReference<MessageInputArea>? _objectReference;

    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private bool _disabled;

    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("disabled", out object? obj)) {
            _disabled = Convert.ToBoolean(obj);
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key != "disabled").ToDictionary();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            _module = await JavascriptRuntime.InvokeAsync<IJSObjectReference>("import",
                "./Components/Shared/MessageInputArea.razor.js");
            
            _objectReference = DotNetObjectReference.Create(this);
            await _module.InvokeVoidAsync("initializeTextArea", _textareaElement, _objectReference);
        }
    }

    [JSInvokable]
    public async Task HandleMessageSubmit() {
        TextBody = TextBody.Trim();
        
        if (_disabled || string.IsNullOrEmpty(TextBody)) return;

        if (OnSubmit.HasDelegate) {
            await OnSubmit.InvokeAsync(TextBody);
        }
        
        TextBody = string.Empty;
        StateHasChanged();
        await Task.Yield();
    }

    public async ValueTask DisposeAsync() {
        if (_module is not null) {
            try {
                await _module.DisposeAsync();
            } catch (JSDisconnectedException) {
            }
        }

        _objectReference?.Dispose();
    }
}