<div class="fixed inset-0 z-1000 transition-colors duration-500 @(Show ? "pointer-events-auto bg-black/80" : "pointer-events-none bg-transparent") @_cssClass" @onclick="OnClickOutside" @attributes="AdditionalAttributes">
    <div @onclick:stopPropagation>
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public bool Show { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public EventCallback<MouseEventArgs> OnClickOutside { get; set; }

    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    private string? _cssClass;

    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _cssClass = Convert.ToString(obj);
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key is not "class").ToDictionary();
    }

    public void ShowModal() {
        if (Show) return;

        Show = true;
        StateHasChanged();
    }

    public void HideModal() {
        if (!Show) return;

        Show = false;
        StateHasChanged();
    }
}