@implements IAsyncDisposable

@inject IJSRuntime JavascriptRuntime
@inject ILogger<Sidebar> Logger

<div @ref="OverlayElement" class="cursor-default absolute inset-0 bg-black hidden lg:hidden z-100" style="opacity: 0"></div>

<aside @ref="RootElement" class="h-full absolute top-0 left-0 z-101 lg:static -translate-x-full lg:translate-x-0 @_cssClass" @attributes="AdditionalAttributes">
    @if (ChildContent != null) {
        @ChildContent
    }
</aside>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private string? _cssClass;

    public ElementReference RootElement { get; set; }
    public ElementReference OverlayElement { get; set; }

    private IJSObjectReference? _module, _disposeState;
    
    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _cssClass = Convert.ToString(obj);
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key is not "class").ToDictionary();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            _module = await JavascriptRuntime.InvokeAsync<IJSObjectReference>("import", "./js/Components/Sidebar.js");
            _disposeState = await _module.InvokeAsync<IJSObjectReference>("initializeSidebar", RootElement, OverlayElement);
        }
    }

    public async ValueTask DisposeAsync() {
        try {
            if (_module != null) {
                await _module.InvokeVoidAsync("disposeSidebar", _disposeState);
                _disposeState = null;
                
                await _module.DisposeAsync();
                _module = null;
            }
        } catch (JSDisconnectedException) {
        }
    }
}
