@using Conflux.Components.Shared.Icons

<button @attributes="AdditionalAttributes">
    @if (IsShowingSpinner) {
        <div class="flex flex-row justify-center items-center">
            <Spinner class="@SpinnerCssClass"/>
        </div>
    } else {
        @ChildContent
    }
</button>

@code {
    [Parameter] public bool IsShowingSpinner { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? SpinnerCssClass { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    public void ShowSpinner() {
        if (IsShowingSpinner) return;

        IsShowingSpinner = true;
        StateHasChanged();
    }

    public void HideSpinner() {
        if (!IsShowingSpinner) return;

        IsShowingSpinner = false;
        StateHasChanged();
    }
}