@if (RenderStrategy == TabRenderStrategy.Visibility) {
    string cssClass = $"{(Parent.ActiveId == TabId ? "block" : "hidden")} {_cssClass}";
    
    <section class="@cssClass" @attributes="AdditionalAttributes">
        @ChildContent
    </section>
} else {
    @if (Parent.ActiveId == TabId) {
        <section @attributes="AdditionalAttributes">
            @ChildContent
        </section>
    }
}

@code {
    [Parameter, EditorRequired] public required string TabId { get; set; }
    [Parameter, EditorRequired] public required RenderFragment ChildContent { get; set; }
    [Parameter] public TabRenderStrategy RenderStrategy { get; set; }
    
    [CascadingParameter] private TabContainer Parent { get; set; } = null!;
    
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private string? _cssClass;
    
    protected override void OnParametersSet() {
        if (Parent == null) {
            throw new InvalidOperationException("TabButton must be within a TabContainer");
        }
        
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _cssClass = Convert.ToString(obj);
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key is not "class").ToDictionary();
    }
}