@using System.Globalization

@implements IAsyncDisposable

@inject IJSRuntime js
@inject ILogger<TooltipContainer> Logger

@* Have to anchor the slot like a loser *@
<section @ref="_target">
    @Target
</section>

@if (ShowTooltip) {
    <div class="absolute inset-0 pointer-events-none">
        <div class="absolute top-0 left-0 @_class" @attributes="AdditionalAttributes" @ref="_tooltip" hidden>
            @Tooltip

            <div class="absolute size-2 rotate-45 @ArrowCssClass" @ref="_arrow"></div>
        </div>
    </div>
}

@code {
    private IJSObjectReference? _componentsModule;
    
    [Parameter, EditorRequired] public required RenderFragment Target { get; set; }
    [Parameter, EditorRequired] public required RenderFragment Tooltip { get; set; }
    
    [Parameter] public bool ShowTooltip { get; set; }
    [Parameter] public EventCallback<bool> ShowTooltipChanged { get; set; }
    
    [Parameter] public string? ArrowCssClass { get; set; }
    [Parameter] public string TooltipPlacement { get; set; } = "bottom";
    [Parameter] public int TooltipOffset { get; set; } = 0;
    
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private string? _class;

    private ElementReference _target, _tooltip, _arrow;

    private int _tooltipId;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            _componentsModule = await js.InvokeAsync<IJSObjectReference>("import", "./js/Components/Tooltip.js");
        }

        if (ShowTooltip) {
            if (_tooltipId == 0) {
                _tooltipId = await _componentsModule!.InvokeAsync<int>("registerTooltip", _target, _tooltip, _arrow, TooltipPlacement, TooltipOffset);
            }
        } else if (_tooltipId != 0) {
            await _componentsModule!.InvokeVoidAsync("unregisterTooltip", _tooltipId);
            _tooltipId = 0;
        }
    }

    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _class = Convert.ToString(obj, CultureInfo.InvariantCulture);
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key != "class").ToDictionary();
    }

    public async ValueTask DisposeAsync() {
        if (_componentsModule != null) {
            try {
                await _componentsModule.InvokeVoidAsync("unregisterTooltip", _tooltipId);
                await _componentsModule.DisposeAsync();

                _tooltipId = 0;
            } catch (JSDisconnectedException) {
            }
        }
    }
}