@inject IJSRuntime JavascriptRuntime
@inject ILogger<Tooltip> Logger

<div @ref="TargetElement" class="@TargetCssClass" @onmouseenter="HandleShowTooltip" @onmouseleave="HandleHideTooltip">
    @TargetContent
</div>

@if (_showTooltip) {
    <div class="fixed inset-0 pointer-events-none z-10" tabindex="-1">
        <div class="absolute pointer-events-auto @_cssClass" @attributes="AdditionalAttributes" @ref="TooltipElement" style="left: -9999px; top: -9999px;">
            @TooltipContent

            @if (DisplayArrow) {
                <div class="absolute size-2 rotate-45 @ArrowCssClass" @ref="ArrowElement"></div>
            }
        </div>
    </div>
}

@code {
    [Parameter, EditorRequired] public required RenderFragment TooltipContent { get; set; }
    [Parameter, EditorRequired] public required RenderFragment TargetContent { get; set; }

    [Parameter] public bool DisplayArrow { get; set; } = true;
    [Parameter] public string? TargetCssClass { get; set; }
    [Parameter] public string? ArrowCssClass { get; set; }
    
    [Parameter, EditorRequired] public required string TooltipPlacement { get; set; }
    [Parameter] public int TooltipOffset { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private string? _cssClass;
    
    public ElementReference TargetElement { get; set; }
    public ElementReference TooltipElement { get; set; }
    public ElementReference? ArrowElement { get; set; }
    
    private bool _showTooltip;
    
    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _cssClass = Convert.ToString(obj);
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key is not "class").ToDictionary();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (_showTooltip) {
            await JavascriptRuntime.InvokeVoidAsync("window.updateTooltipPosition", TargetElement, TooltipElement, ArrowElement, TooltipPlacement, TooltipOffset);
        }
    }

    private void HandleShowTooltip() {
        _showTooltip = true;
    }

    private void HandleHideTooltip() {
        _showTooltip = false;
    }
}