@using Conflux.Application.Dto
@using Conflux.Domain.Events
@using Conflux.Web.Components.Shared.Modals
@using Conflux.Web.Helpers
@using Conflux.Web.Services.Implementations
@using Microsoft.EntityFrameworkCore
@using System.Collections.Concurrent

@implements IDisposable

@inject IFriendshipService FriendshipService
@inject IFriendshipEventDispatcher FriendshipEventDispatcher
@inject IContentService ContentService
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject ModalService ModalService

<SearchField @bind-Value="_nameSearch" @bind-Value:after="StartSearchDebouncing" class="flex-none h-10"/>

<div class="flex-1 overflow-auto mt-2 border border-gray-600 rounded-lg p-1">
    <Virtualize @ref="_virtualizeContainer" ItemsProvider="LoadProvider" OverscanCount="3">
        <ChildContent Context="item">
            <UserCard @key="item.FriendRequestId"
                      UserId="item.ReceiverDisplay.UserId"
                      UserName="@item.ReceiverDisplay.UserName"
                      DisplayName="@item.ReceiverDisplay.DisplayName"
                      AvatarSrc="@(string.IsNullOrEmpty(item.ReceiverDisplay.AvatarPath) ? null : ContentService.GetAssetPath(item.ReceiverDisplay.AvatarPath))"
                      OnClick="card => HandleOnUserCardClick(card)"
                      class="h-12 group">
                <RightContent>
                    <div class="flex-none flex-row gap-4 hidden group-hover:flex items-center mr-3" @onclick:stopPropagation="true">
                        <ProcessingStateButton IsProcessing="_cancellingRequests.ContainsKey(item.FriendRequestId)" NormalCssClass="group/button cursor-pointer" @onclick="@(() => HandleCancelFriendRequest(item.FriendRequestId))">
                            <ChildContent>
                                <Cross Size="CrossSize.Normal" class="size-6 fill-gray-300 group-hover/button:fill-white"/>
                            </ChildContent>

                            <ProcessingContent>
                                <Spinner class="size-6 fill-white"/>
                            </ProcessingContent>
                        </ProcessingStateButton>
                    </div>
                </RightContent>
            </UserCard>
        </ChildContent>
        
        <EmptyContent>
            <div class="flex flex-row justify-center items-center h-full">
                <p class="text-gray-400">Social awkward eh?</p>
            </div>
        </EmptyContent>
    </Virtualize>
</div>

@code {
    [CascadingParameter(Name = "SessionUserId")] private Guid UserId { get; set; }
    
    private string _nameSearch = string.Empty;
    private Debouncer _searchDebouncer = null!;

    private Virtualize<OutcomingFriendRequestDTO> _virtualizeContainer = null!;

    private readonly ConcurrentDictionary<Guid, byte> _cancellingRequests = [];

    protected override void OnAfterRender(bool firstRender) {
        if (firstRender) {
            _searchDebouncer = new(OnDebounceEnd, TimeSpan.FromMilliseconds(250));
            
            FriendshipEventDispatcher.OnFriendRequestRejected += OnFriendRequestRejectedNotification;
            FriendshipEventDispatcher.OnFriendRequestAccepted += OnFriendRequestAcceptedNotification;
        }
    }

    private async Task StartSearchDebouncing() {
        await _searchDebouncer.Start();
    }

    private async Task OnDebounceEnd(CancellationToken token) {
        await _virtualizeContainer.RefreshDataAsync();
        StateHasChanged();
    }

    private async ValueTask<ItemsProviderResult<OutcomingFriendRequestDTO>> LoadProvider(ItemsProviderRequest request) {
        await using var dbContext = await DbContextFactory.CreateDbContextAsync();
        dbContext.ChangeTracker.QueryTrackingBehavior = QueryTrackingBehavior.NoTracking;
        
        IQueryable<FriendRequest> query = dbContext.FriendRequests
            .Where(x => x.Status == FriendRequestStatus.Pending && x.SenderUserId == UserId)
            .Include(r => r.Receiver);

        if (!string.IsNullOrEmpty(_nameSearch)) {
            string namePattern = $"%{_nameSearch.Trim()}%";
            
            query = query
                .Where(r => 
                    EF.Functions.ILike(r.Receiver.UserName!, namePattern) || EF.Functions.ILike(r.Receiver.DisplayName, namePattern)
                );
        }
        
        int totalCount = await query.CountAsync();

        if (totalCount == 0) {
            return new([], 0);
        }

        var requests = await query
            .OrderByDescending(r => r.CreatedAt)
            .Skip(request.StartIndex)
            .Take(request.Count)
            .Select(r => new OutcomingFriendRequestDTO(r.Id, new(r.ReceiverUserId, r.Receiver.DisplayName, r.Receiver.UserName, r.Receiver.AvatarProfilePath)))
            .ToListAsync();
        
        return new(requests, totalCount);
    }

    private async Task HandleCancelFriendRequest(Guid friendRequestId) {
        if (_cancellingRequests.TryAdd(friendRequestId, 0)) {
            try {
                await FriendshipService.CancelFriendRequestAsync(friendRequestId);
            } finally {
                _cancellingRequests.TryRemove(friendRequestId, out _);

                if (_cancellingRequests.IsEmpty) {
                    await _virtualizeContainer.RefreshDataAsync();
                    StateHasChanged();
                }
            }
        }
    }
    
    private void HandleOnUserCardClick(UserCard card) {
        ModalService.Open<UserProfileModal>(parameters: new Dictionary<string, object?> {
            [nameof(UserProfileModal.InspectingUserId)] = card.UserId,
        });
    }

    private void OnFriendRequestRejectedNotification(FriendRequestRejectedEventArgs eventArgs) {
        InvokeAsync(async () => {
            await _virtualizeContainer.RefreshDataAsync();
            StateHasChanged();
        });
    }
    
    private void OnFriendRequestAcceptedNotification(FriendRequestAcceptedEventArgs eventArgs) {
        InvokeAsync(async () => {
            await _virtualizeContainer.RefreshDataAsync();
            StateHasChanged();
        });
    }

    public void Dispose() {
        _searchDebouncer?.Dispose();
        FriendshipEventDispatcher.OnFriendRequestRejected -= OnFriendRequestRejectedNotification;
        FriendshipEventDispatcher.OnFriendRequestAccepted -= OnFriendRequestAcceptedNotification;
    }
    
    private readonly record struct OutcomingFriendRequestDTO(Guid FriendRequestId, UserDisplayDTO ReceiverDisplay);
}