@page "/lobby/social"

@using System.Security.Claims

@inject NavigationManager NavigationManager

<TabContainer class="h-full px-4 py-4 flex flex-col text-white" ButtonContainerCssClass="flex-none border-b border-b-gray-600 pb-2 flex flex-row justify-between" ContentContainerCssClass="min-h-0 flex-1 mt-3" @bind-ActiveId="_activeTabId">
    <Buttons Context="_">
        <h1 class="text-2xl font-bold">Social</h1>
        
        <div class="inline-flex flex-row gap-1">
            <TabButton TabId="friends" class="inline-flex flex-row justify-center items-center px-3 py-1 text-white bg-transparent hover:bg-gray-400/40 active:bg-gray-700/40 rounded-lg cursor-pointer" ActiveCssClass="bg-gray-600/70! cursor-default!">
                <Person Addition="PersonAddition.Check" class="size-6 fill-white md:mr-2"/>
                
                <span class="hidden md:block">Friends</span>
            </TabButton>
            
            <TabButton TabId="sent_requests" class="inline-flex flex-row items-center px-3 py-1 text-white bg-transparent hover:bg-gray-400/40 active:bg-gray-700/40 rounded-lg cursor-pointer" ActiveCssClass="bg-gray-600/70! cursor-default!">
                <Person Addition="PersonAddition.Up" class="size-6 fill-white md:mr-2"/>
                
                <span class="hidden md:block">Sent</span>
            </TabButton>
            
            <TabButton TabId="received_requests" class="inline-flex flex-row items-center px-3 py-1 text-white bg-transparent hover:bg-gray-400/40 active:bg-gray-700/40 rounded-lg cursor-pointer" ActiveCssClass="bg-gray-600/70! cursor-default!">
                <Person Addition="PersonAddition.Down" class="size-6 fill-white md:mr-2"/>
                
                <span class="hidden md:block">Received</span>
            </TabButton>
            
            <TabButton TabId="blocked" class="inline-flex flex-row items-center px-3 py-1 text-white bg-transparent hover:bg-gray-400/40 active:bg-gray-700/40 rounded-lg cursor-pointer" ActiveCssClass="bg-gray-600/70! cursor-default!">
                <Person Addition="PersonAddition.Slash" class="size-6 fill-white md:mr-2"/>
                
                <span class="hidden md:block">Blocked</span>
            </TabButton>
            
            <TabButton TabId="search" class="inline-flex flex-row items-center px-3 py-1 text-white bg-transparent hover:bg-gray-400/40 active:bg-gray-700/40 rounded-lg cursor-pointer" ActiveCssClass="bg-gray-600/70! cursor-default!">
                <Person Addition="PersonAddition.Add" class="size-6 fill-white md:mr-2"/>
                
                <span class="hidden md:block">Search</span>
            </TabButton>
        </div>
    </Buttons>
        
    <Contents Context="_">
        <CascadingValue Value="_userId" Name="SessionUserId">
            <TabContent TabId="friends" class="h-full flex flex-col">
                <FriendsTabContent/>
            </TabContent>

            <TabContent TabId="sent_requests" class="h-full flex flex-col">
                <SentFriendRequestTabContent/>
            </TabContent>

            <TabContent TabId="received_requests" class="h-full flex flex-col">
                <ReceivedFriendRequestTabContent/>
            </TabContent>

            <TabContent TabId="blocked" class="h-full flex flex-col">
                TODO
            </TabContent>

            <TabContent TabId="search" class="h-full flex flex-col">
                <SearchUserTabContent/>
            </TabContent>
        </CascadingValue>
    </Contents>
</TabContainer>

@code {
    private string _activeTabId = "friends";
    
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;
    private Guid _userId;
    
    protected override async Task OnParametersSetAsync() {
        var authState = await AuthenticationState;
        
        if (authState.User.FindFirstValue(ClaimTypes.NameIdentifier) is not { } id || !Guid.TryParse(id, out _userId)) {
            NavigationManager.NavigateTo("/");
        }
    }
}