@using Conflux.Application.Dto
@using Conflux.Components.Pages.Community
@using Conflux.Domain.Events
@using System.Security.Claims

@inherits Conflux.Web.Components.Shared.Modals.BaseModal
@implements IDisposable

@inject ICommunityService CommunityService
@inject ICommunityEventDispatcher CommunityEventDispatcher

<div class="flex flex-row justify-center items-center size-full text-white">
    <CascadingValue Value="_memberInformation">
        <CommunityControlPanel CommunityId="CommunityId" OnCloseRequest="@((Action<object?>)CloseModal)"/>
    </CascadingValue>
</div>

@code {
    // Copy from CommunityPage until we figure out a better way to managing parameters and rerender.
    [Parameter, EditorRequired] public Guid CommunityId { get; set; }
    [Parameter, EditorRequired] public MemberInformationDTO MemberInformation { get; set; }

    private MemberInformationDTO _memberInformation;
    
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    protected override void OnParametersSet() {
        _memberInformation = MemberInformation;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            var authState = await AuthenticationState;
            var userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!;

            var memberInfo = await CommunityService.GetMemberInformationAsync(CommunityId, userId);

            if (memberInfo == null) {
                CloseModal();
                return;
            }
            
            MemberInformation = memberInfo.Value;
            StateHasChanged();
            
            CommunityEventDispatcher.OnMemberRoleChanged += OnMemberRoleChanged;
            CommunityEventDispatcher.OnRoleDeleted += OnRoleDeleted;
            CommunityEventDispatcher.OnRolePermissionUpdated += OnRolePermissionUpdated;
        }
    }

    private void OnMemberRoleChanged(MemberRoleChangedEventArgs args) {
        if (args.RoleId == MemberInformation.Role.RoleId) {
            InvokeAsync(ReloadMemberInformation);
        }
    }

    private void OnRoleDeleted(CommunityRoleDeletedEventArgs args) {
        if (args.RoleId == MemberInformation.Role.RoleId) {
            InvokeAsync(ReloadMemberInformation);
        }
    }

    private void OnRolePermissionUpdated(CommunityRolePermissionUpdatedEventArg args) {
        if (args.RoleId == MemberInformation.Role.RoleId) {
            InvokeAsync(ReloadMemberInformation);
        }
    }

    private async Task ReloadMemberInformation() {
        var authState = await AuthenticationState;
        var userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!;
        
        var memberInfo = await CommunityService.GetMemberInformationAsync(CommunityId, userId);

        if (memberInfo == null) {
            CloseModal();
            return;
        }
            
        MemberInformation = memberInfo.Value;
        StateHasChanged();
    }
    
    public void Dispose() {
        CommunityEventDispatcher.OnMemberRoleChanged -= OnMemberRoleChanged;
        CommunityEventDispatcher.OnRoleDeleted -= OnRoleDeleted;
        CommunityEventDispatcher.OnRolePermissionUpdated -= OnRolePermissionUpdated;
    }
}