@using Conflux.Application.Dto
@using Conflux.Web.Components.Pages.Community
@using Conflux.Domain.Events
@using Conflux.Web.Services
@using System.Security.Claims

@inherits Conflux.Web.Components.Shared.Modals.BaseModal
@implements IDisposable

@inject ICommunityService CommunityService
@inject ICommunityEventDispatcher CommunityEventDispatcher
@inject ApplicationRedirectManager RedirectManager

<div class="flex flex-row justify-center items-center size-full text-white">
    <CascadingValue Value="_memberInformation">
        <CommunityControlPanel CommunityId="CommunityId" OnCloseRequest="@((Action<object?>)CloseModal)"/>
    </CascadingValue>
</div>

@code {
    // Copy from CommunityPage until we figure out a better way to managing parameters and rerender.
    [Parameter, EditorRequired] public Guid CommunityId { get; set; }

    private MemberInformationDTO? _memberInformation;
    
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    private Guid _userId;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            var authState = await AuthenticationState;

            if (authState.User.FindFirstValue(ClaimTypes.NameIdentifier) is not { } id ||
                !Guid.TryParse(id, out _userId))
            {
                RedirectManager.To("/").Execute();
                return;
            }

            var memberInfo = await CommunityService.GetMemberInformationAsync(CommunityId, _userId);

            if (memberInfo == null) {
                CloseModal();
                return;
            }
            
            _memberInformation = memberInfo.Value;
            StateHasChanged();
            
            CommunityEventDispatcher.OnMemberRoleChanged += OnMemberRoleChanged;
            CommunityEventDispatcher.OnRoleDeleted += OnRoleDeleted;
            CommunityEventDispatcher.OnRolePermissionUpdated += OnRolePermissionUpdated;
        }
    }

    private void OnMemberRoleChanged(MemberRoleChangedEventArgs args) {
        if (args.RoleId == _memberInformation?.Role.RoleId) {
            InvokeAsync(ReloadMemberInformation);
        }
    }

    private void OnRoleDeleted(CommunityRoleDeletedEventArgs args) {
        if (args.RoleId == _memberInformation?.Role.RoleId) {
            InvokeAsync(ReloadMemberInformation);
        }
    }

    private void OnRolePermissionUpdated(CommunityRolePermissionUpdatedEventArg args) {
        if (args.RoleId == _memberInformation?.Role.RoleId) {
            InvokeAsync(ReloadMemberInformation);
        }
    }

    private async Task ReloadMemberInformation() {
        var memberInfo = await CommunityService.GetMemberInformationAsync(CommunityId, _userId);

        if (memberInfo == null) {
            CloseModal();
            return;
        }

        _memberInformation = memberInfo.Value;
        StateHasChanged();
    }
    
    public void Dispose() {
        CommunityEventDispatcher.OnMemberRoleChanged -= OnMemberRoleChanged;
        CommunityEventDispatcher.OnRoleDeleted -= OnRoleDeleted;
        CommunityEventDispatcher.OnRolePermissionUpdated -= OnRolePermissionUpdated;
    }
}