@using Conflux.Application.Dto
@using Conflux.Web.Components.Guards
@using System.Security.Claims

@inherits LayoutComponentBase
@layout MainLayout

@implements IAsyncDisposable

@inject IFriendshipEventDispatcher FriendshipEventDispatcher
@inject IUserNotificationService UserNotificationService
@inject IUserService UserService

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<CascadingValue Value="_userBanState" Name="SessionUserBanState">
    <RedirectToProfileSetup/>

    <ExpandableLobbyLocationList/>

    <div class="h-dvh w-dvw">
        @Body
    </div>

    <CallScreenContainer/>
</CascadingValue>

@code {
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;
    private UserBanState _userBanState;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            var authState = await AuthenticationState;
            _userBanState = (await UserService.GetBanStateAsync(Guid.Parse(authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!)))!.Value;
            
            await FriendshipEventDispatcher.Connect();
            await UserNotificationService.Connect();
        }
    }

    public async ValueTask DisposeAsync() {
        await FriendshipEventDispatcher.Disconnect();
        await UserNotificationService.Disconnect();
    }
}