@using Conflux.Application.Dto
@using Conflux.Domain.Events
@using Conflux.Web.Components.Guards
@using System.Security.Claims

@inherits LayoutComponentBase
@layout MainLayout

@implements IAsyncDisposable

@inject IFriendshipEventDispatcher FriendshipEventDispatcher
@inject IUserNotificationService UserNotificationService
@inject IUserService UserService
@inject IAuthorizationService AuthorizationService
@inject NavigationManager NavigationManager

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<RedirectToEmailConfirmation/>
<RedirectToProfileSetup/>

@if (_isLoading) {
    <div class="h-dvh w-dvw bg-gray-750 flex flex-row justify-center items-center">
        <Spinner class="size-16 fill-white"/>
    </div>
    
    return;
}

<CascadingValue Value="_userBanState" Name="SessionUserBanState">
    <ExpandableLobbyLocationList/>

    <section class="h-dvh w-dvw bg-gray-750 text-white">
        @Body
    </section>

    <CallScreenContainer/>
</CascadingValue>

@code {
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;
    private UserBanState _userBanState;
    private bool _isLoading = true;
    
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            var authState = await AuthenticationState;
            _userBanState = (await UserService.GetBanStateAsync(Guid.Parse(authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!)))!.Value;

            if (!(await AuthorizationService.AuthorizeAsync(authState.User, _userBanState, "UserNotBanned")).Succeeded) {
                NavigationManager.NavigateTo("/banned", replace: true);
                return;
            }
            
            await FriendshipEventDispatcher.Connect();
            await UserNotificationService.Connect();

            UserNotificationService.OnSystemBanned += OnSystemBanned;

            _isLoading = false;
            StateHasChanged();
        }
    }

    private void OnSystemBanned(SystemBannedEventArgs args) {
        NavigationManager.NavigateTo("/banned", replace: true);
        
        // InvokeAsync(async () => {
        //     var authState = await AuthenticationState;
        //     _userBanState = (await UserService.GetBanStateAsync(Guid.Parse(authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!)))!.Value;
        //
        //     StateHasChanged();
        // });
    }

    public async ValueTask DisposeAsync() {
        UserNotificationService.OnSystemBanned -= OnSystemBanned;
        
        await FriendshipEventDispatcher.Disconnect();
        await UserNotificationService.Disconnect();
    }
}