@using Conflux.Web.Components.Guards
@using Conflux.Web.Services
@using Conflux.Web.Services.Abstracts
@using System.Security.Claims

@inherits LayoutComponentBase
@layout MainLayout

@implements IAsyncDisposable

@inject IFriendshipEventDispatcher FriendshipEventDispatcher
@inject IUserNotificationService UserNotificationService
@inject ApplicationRedirectManager RedirectManager
@inject IUserCallService UserCallService

<RedirectToProfileSetup/>

<ExpandableLobbyLocationList/>

<div class="h-dvh w-dvw">
    @Body
</div>

<CallScreenContainer/>

@code {
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            var authState = await AuthenticationState;

            if (authState.User.FindFirstValue(ClaimTypes.NameIdentifier) is not { } id || 
                !Guid.TryParse(id, out var userId)) {
                RedirectManager.To("/").Execute();
                return;
            }
            
            await FriendshipEventDispatcher.Connect();
            await UserNotificationService.Connect(userId);
            await UserCallService.Connect();
        }
    }

    public async ValueTask DisposeAsync() {
        await FriendshipEventDispatcher.Disconnect();
        await UserNotificationService.Disconnect();
        await UserCallService.Disconnect();
    }
}