@using Conflux.Application.Dto
@using Conflux.Domain.Events
@using Conflux.Web.Components.Guards
@using System.Security.Claims

@inherits LayoutComponentBase
@layout MainLayout

@implements IAsyncDisposable

@inject IFriendshipEventDispatcher FriendshipEventDispatcher
@inject IUserNotificationService UserNotificationService
@inject IUserService UserService

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<CascadingValue Value="_userBanState" Name="SessionUserBanState">
    <RedirectToProfileSetup/>

    <AuthorizeView Policy="UserNotBanned" Resource="_userBanState">
        <Authorized>
            <ExpandableLobbyLocationList/>

            <div class="h-dvh w-dvw">
                @Body
            </div>

            <CallScreenContainer/>
        </Authorized>
        
        <NotAuthorized>
            <p>Banned.</p>
        </NotAuthorized>
    </AuthorizeView>
</CascadingValue>

@code {
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;
    private UserBanState _userBanState;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            var authState = await AuthenticationState;
            _userBanState = (await UserService.GetBanStateAsync(Guid.Parse(authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!)))!.Value;
            
            await FriendshipEventDispatcher.Connect();
            await UserNotificationService.Connect();

            UserNotificationService.OnSystemBanned += OnSystemBanned;
            
            StateHasChanged();
        }
    }

    private void OnSystemBanned(SystemBannedEventArgs args) {
        InvokeAsync(async () => {
            var authState = await AuthenticationState;
            _userBanState = (await UserService.GetBanStateAsync(Guid.Parse(authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!)))!.Value;
        });
    }

    public async ValueTask DisposeAsync() {
        UserNotificationService.OnSystemBanned -= OnSystemBanned;
        
        await FriendshipEventDispatcher.Disconnect();
        await UserNotificationService.Disconnect();
    }
}