@using Conflux.Components.Guards
@using Conflux.Components.Shared

@inherits LayoutComponentBase
@layout MainLayout

@implements IAsyncDisposable

@inject IFriendshipEventDispatcher FriendshipEventDispatcher
@inject IUserNotificationService UserNotificationService

<RedirectToProfileSetup/>

<ExpandableLobbyLocationList/>

<div class="h-dvh w-dvw">
    @Body
</div>

@code {
    protected override async Task OnInitializedAsync() {
        await FriendshipEventDispatcher.Connect();
        await UserNotificationService.Connect();
    }

    public async ValueTask DisposeAsync() {
        await FriendshipEventDispatcher.Disconnect();
        await UserNotificationService.Disconnect();
    }
}