@using Conflux.Components.Guards
@using Conflux.Components.Shared

@inherits LayoutComponentBase
@layout MainLayout

@implements IAsyncDisposable

@inject IFriendshipEventDispatcher FriendshipEventDispatcher

<RedirectToProfileSetup/>

<ExpandableLobbyLocationList/>

<div class="h-dvh w-dvw">
    @Body
</div>

@code {
    protected override void OnInitialized() {
        FriendshipEventDispatcher.Connect();
    }

    public async ValueTask DisposeAsync() {
        await FriendshipEventDispatcher.Disconnect();
    }
}