@using Conflux.Web.Components.Guards

@inherits LayoutComponentBase
@layout MainLayout

@implements IAsyncDisposable

@inject IFriendshipEventDispatcher FriendshipEventDispatcher
@inject IUserNotificationService UserNotificationService

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<RedirectToProfileSetup/>

<ExpandableLobbyLocationList/>

<div class="h-dvh w-dvw">
    @Body
</div>

<CallScreenContainer/>

@code {
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            await FriendshipEventDispatcher.Connect();
            await UserNotificationService.Connect();
        }
    }

    public async ValueTask DisposeAsync() {
        await FriendshipEventDispatcher.Disconnect();
        await UserNotificationService.Disconnect();
    }
}