@using Microsoft.AspNetCore.Components.Sections

@inherits LayoutComponentBase
@layout LobbyLayout

<section class="relative size-full overflow-hidden flex flex-row">
    <Sidebar Direction="SidebarDirection.LeftToRight" class="border-r border-r-gray-600 overflow-hidden flex flex-col w-80 flex-none shadow-md">
        <section class="flex-1 overflow-y-auto scrollbar-hide">
            <SectionOutlet SectionName="lobby-sidebar"/>
        </section>
    
        <div class="flex-none px-1 pb-1">
            <UserProfileCard class="rounded-lg bg-gray-700"/>
        </div>
    </Sidebar>
    
    <section class="bg-gray-700 size-full overflow-hidden">
        @Body
    </section>
</section>