@using Microsoft.AspNetCore.Components.Sections

@inject IWebHostEnvironment Environment
@inject IViteManifest ViteManifest
@inject IViteDevServerStatus Vite

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <ImportMap/>
    <HeadOutlet @rendermode="PageRenderMode"/>
    
    @if (Environment.IsDevelopment() && Vite.IsMiddlewareEnable) {
        <script type="module" src="@@vite/client"></script>
        <link rel="stylesheet" href="styles/input.css"/>
    } else {
        if (ViteManifest["styles/input.css"] is { } style) {
            <link rel="stylesheet" href="@style.File"/>
        }
    }
</head>

<body>
<Routes @rendermode="PageRenderMode"/>

<script src="_framework/blazor.web.js"></script>

<script src="js/utils.js"></script>

@{
    string[] modulePaths = [
        "scripts/Pages/HomePage.ts",
        
        "scripts/Components/MessageTextArea.ts",
        "scripts/Components/MessageTimeline.ts",
        "scripts/Components/Tooltip.ts",
    ];
}

@if (Environment.IsDevelopment() && Vite.IsMiddlewareEnable) {
    @foreach (var modulePath in modulePaths) {
        <script type="module" src="@modulePath"></script>
    }
} else {
    IViteChunk? chunk;

    @foreach (var modulePath in modulePaths) {
        if ((chunk = ViteManifest[modulePath]) != null) {
            <script type="module" src="@chunk.File"></script>

            if (chunk.Imports != null) {
                foreach (string import in chunk.Imports) {
                    if (!ViteManifest.ContainsKey(import)) continue;

                    <script type="module" src="@ViteManifest[import]!.File"></script>
                }
            }
        }
    }
}

<SectionOutlet SectionName="javascript"/>

</body>

</html>

@code {
    [CascadingParameter] private HttpContext HttpContext { get; set; } = null!;

    private IComponentRenderMode? PageRenderMode => HttpContext.AcceptsInteractiveRouting() ? InteractiveServer : null;
}