@page "/settings/profile"
@using Conflux.Web.Components.Shared
@using Conflux.Web.Services
@using Microsoft.AspNetCore.Identity
@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using System.Runtime.CompilerServices
@using System.Security.Claims

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inject IWebHostEnvironment Environment
@inject IViteManifest ViteManifest
@inject IViteDevServerStatus Vite
@inject ApplicationRedirectManager RedirectManager
@inject UserManager<ApplicationUser> UserManager
@inject IJSRuntime JSRuntime

@if (_user == null) {
    <div class="flex flex-col h-full">
        <h1 class="font-bold text-3xl flex-none">Profile Management</h1>
        
        <div class="flex-1 flex flex-row justify-center items-center">
            <div class="animate-bounce">
                <p class="font-bold animate-pulse">Loading profile...</p>
            </div>
        </div>
    </div>

    return;
}

<div class="relative h-full">
    <h1 class="font-bold text-3xl">Profile Management</h1>

    <TabContainer class="mt-2 pb-4" ButtonContainerCssClass="flex flex-row justify-start gap-3 border-b border-gray-600" @bind-ActiveId="_tabActiveId">
        <Buttons Context="_">
            <TabButton TabId="preview" class="p-3 text-gray-400 bg-transparent hover:text-gray-200 hover:bg-gray-400 rounded-t-lg cursor-pointer" ActiveCssClass="text-blue-400! cursor-default! hover:bg-transparent!">
                Preview
            </TabButton>

            <TabButton TabId="edit" class="p-3 text-gray-400 bg-transparent hover:text-gray-200 hover:bg-gray-400 rounded-t-lg cursor-pointer" ActiveCssClass="text-blue-400! cursor-default! hover:bg-transparent!">
                Edit
            </TabButton>
        </Buttons>

        <Contents Context="_">
            <TabContent TabId="preview">
                <ProfilePreview Model="Model" User="_user" AvatarPreviewUrl="@_avatarPreviewUrl"/>
            </TabContent>

            <TabContent TabId="edit" RenderStrategy="RenderStrategy.Visibility">
                <ProfileEdit Model="Model" User="_user" @bind-AvatarPreviewUrl="_avatarPreviewUrl"/>
            </TabContent>
        </Contents>
    </TabContainer>
</div>

@code {
    private ApplicationUser? _user;

    private ProfileInputModel Model { get; set; } = new() {
        DisplayName = string.Empty,
    };

    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    private string _tabActiveId = "preview";
    private string? _avatarPreviewUrl;
    
    protected override async Task OnInitializedAsync() {
        ClaimsPrincipal claimsPrincipal = (await AuthenticationState).User;
        _user = await UserManager.GetUserAsync(claimsPrincipal);
        
        if (_user == null) {
            // How did we get here? Pretty sure [Authorize] at _Imports.razor should redirect to login if there is no
            // current user.
            RedirectManager.To("/auth/login").Execute();
            return;
        }

        Model.DisplayName = _user!.DisplayName;
        Model.Pronouns = _user.Pronouns;
        Model.Bio = _user.Bio;
    }
    
    public sealed class ProfileInputModel {
        [StringLength(32, MinimumLength = 8), Required] public required string DisplayName { get; set; }
        [StringLength(maximumLength: 32)] public string? Pronouns { get; set; }
        [StringLength(255)] public string? Bio { get; set; }

        public AvatarModel Avatar { get; set; } = new();
    
        public sealed class AvatarModel : INotifyPropertyChanged {
            public ImageUploading FileOperation {
                get;
                set {
                    field = value;
                    OnPropertyChanged();
                }
            }

            public event PropertyChangedEventHandler? PropertyChanged;

            private void OnPropertyChanged([CallerMemberName] string? propertyName = null) {
                PropertyChanged?.Invoke(this, new(propertyName));
            }
        }
    }
}