@page "/test"
@using Conflux.Components.Shared.Icons

<button class="button-primary" @onclick="Increment">Increment</button>

<DynamicComponent Type="typeof(TestComponent)"
                  Parameters="@(new Dictionary<string, object> {
                                  ["Value"] = _value,
                              })"></DynamicComponent>
                              
@code {
    private int _value;

    public void Increment() {
        _value++;
    }
}