@using Conflux.Components.Shared
@implements IAsyncDisposable

@page "/test"

@inject IJSRuntime JavascriptRuntime
@inject ILogger<Test> Logger

<PreviewableImageInput ImageSrc="@null" ImageAlt="@null"
                  @bind-File="_file"
                  class="size-64"/>

<p>Preview URL: @(_file.HasValue ? _file.Value.PreviewUrl : "<null>")</p>

@code {
    private BrowserFileWithPreview? _file;

    protected override void OnAfterRender(bool firstRender) {
        Logger.LogInformation("OnAfterRender.");
    }

    public async ValueTask DisposeAsync() {
        if (_file.HasValue) {
            await JavascriptRuntime.InvokeVoidAsync("URL.revokeObjectURL", _file.Value.PreviewUrl);
        }
    }
}