@page "/test"
@using Conflux.Components.Shared

<button class="button-primary" @onclick="ShowDialog">
    Show Dialog
</button>

<Dialog @bind-Open="_showDialog" OnClickOutside="HideDialog" class="text-white flex justify-center items-center" ContainerCssClass="flex justify-center items-center size-full">
    <Card class="size-full">
        <CardHeader Title="Status" Subtext="Thinking about what to think..." OnCloseRequested="HideDialog"/>
                
        <CardContent class="pb-3">
            <p>Hello World</p>
        </CardContent>
    </Card>
</Dialog>

@code {
    private bool _showDialog;

    public void ShowDialog() {
        _showDialog = true;
    }

    public void HideDialog() {
        _showDialog = false;
    }
}