@page "/community/{CommunityId:guid}/{ChannelId:guid}"

@using Conflux.Components.Layout
@using Conflux.Components.Shared
@using Conflux.Components.Shared.Icons
@using Conflux.Database
@using Conflux.Database.Entities
@using Conflux.Services.Abstracts
@using Microsoft.EntityFrameworkCore

@layout CommunityLayout

@implements IAsyncDisposable

@inject ICommunityService CommunityService
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject ILogger<ChannelPage> Logger

<div class="flex flex-col h-full overflow-hidden">
    <header class="flex-none p-1.5 border-b border-b-gray-600 bg-gray-725 flex flex-row items-center">
        Header
    </header>
    
    <main class="flex flex-row flex-1 overflow-hidden">
        @switch (_initState) {
            case InitializationState.Initializing:
                <div class="size-full flex flex-row justify-center items-center">
                    <Spinner class="size-8 fill-white"/>
                </div>
                break;
                
            case InitializationState.InvalidChannel:
                <div class="size-full flex flex-row justify-center items-center">
                    <p class="text-gray-400">Nothing here...</p>
                </div>
                break;
                
            case InitializationState.Success:
                <MessagingArea class="flex-1 h-full" ConversationId="_channelData.ConversationId" LoadCount="ApplicationConstants.MessageLoadCount"/>
                break;
        }
        
        <aside class="flex-none basis-80 bg-gray-750 border-l border-l-gray-600">
            <CommunityMemberList CommunityId="CommunityId" OverscanCount="10"/>
        </aside>
    </main>
</div>

@code {
    [Parameter] public Guid CommunityId { get; set; }
    [Parameter] public Guid ChannelId { get; set; }
    private Guid _previousChannelId;
    
    [CascadingParameter] private CommunityLayout CommunityLayout { get; set; } = null!;

    private InitializationState _initState;
    private ChannelDTO _channelData;
    
    protected override void OnParametersSet() {
        CommunityLayout.CommunityId = CommunityId;
        
        if (_previousChannelId != ChannelId) {
            _initState = InitializationState.Initializing;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (_initState == InitializationState.Initializing) {
            await using var dbContext = await DbContextFactory.CreateDbContextAsync();

            _channelData = await dbContext.CommunityChannels
                .Where(x => x.Id == ChannelId)
                // .Where(x => x.ChannelCategory.CommunityId == CommunityId)
                .Select(x => new ChannelDTO(x.Conversation.Id, x.Type))
                .FirstOrDefaultAsync();

            _initState = _channelData.ConversationId != Guid.Empty ? InitializationState.Success : InitializationState.InvalidChannel;
            StateHasChanged();

            _previousChannelId = ChannelId;
        }
    }
    
    public async ValueTask DisposeAsync() {
        await CommunityService.LeaveCommunityHubAsync(CommunityId);
    }

    private enum InitializationState {
        Initializing,
        InvalidChannel,
        Success,
    }

    private record struct ChannelDTO(Guid ConversationId, CommunityChannelType Type);
}