@page "/community/{CommunityId:guid}/{Channel?}"

@using Conflux.Components.Layout
@using Conflux.Services.Abstracts
@using Microsoft.AspNetCore.Components.Sections
@using System.Security.Claims

@layout SidebarLobbyLayout

@inject ICommunityService CommunityService

@implements IAsyncDisposable

<SectionContent SectionName="lobby-sidebar">
    <ChannelSidebar CommunityId="CommunityId"/>
</SectionContent>

@switch (Channel) {
    case "welcome" or null:
        <p>Welcome</p>
        break;

    case "events":
        <p>Events</p>
        break;

    case "rules":
        <p>Rules</p>
        break;

    case var _ when Guid.TryParse(Channel, out var channelId):
        <ChannelContentInterface CommunityId="CommunityId" ChannelId="channelId"/>
        break;
}

@code {
    [Parameter] public Guid CommunityId { get; set; }
    private Guid _previousCommunityId;
    
    [Parameter] public string? Channel { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (_previousCommunityId != CommunityId) {
            await CommunityService.LeaveCommunityHubAsync(_previousCommunityId);
            await CommunityService.JoinCommunityHubAsync(CommunityId);
            
            _previousCommunityId = CommunityId;

            StateHasChanged();
        }
    }
    
    public async ValueTask DisposeAsync() {
        await CommunityService.LeaveCommunityHubAsync(CommunityId);
    }
}