@page "/community/{CommunityId:guid}/{Channel?}"

@using Conflux.Components.Layout
@using Conflux.Core
@using Conflux.Services.Abstracts
@using Microsoft.AspNetCore.Components.Sections
@using System.Security.Claims

@layout SidebarLobbyLayout

@inject ICommunityService CommunityService

@implements IAsyncDisposable

<CascadingValue Value="_memberRole" IsFixed="false">
    <SectionContent SectionName="lobby-sidebar">
        <ChannelSidebar CommunityId="CommunityId"/>
    </SectionContent>

    @switch (Channel) {
        case "welcome" or null:
            <div class="flex justify-center items-center h-full">
                <p class="text-sm text-gray-400">Customizable WELCOME page is currently being constructed.</p>
            </div>
            break;

        case "events":
            <div class="flex justify-center items-center h-full">
                <p class="text-sm text-gray-400">Customizable EVENTS page is currently being constructed.</p>
            </div>
            break;

        case "rules":
            <div class="flex justify-center items-center h-full">
                <p class="text-sm text-gray-400">Customizable RULES page is currently being constructed.</p>
            </div>
            break;

        case var _ when Guid.TryParse(Channel, out var channelId):
            <ChannelContentInterface CommunityId="CommunityId" ChannelId="channelId"/>
            break;

        default:
            <div class="flex justify-center items-center h-full">
                <p class="text-sm text-gray-400">Hmmm how did you get here?</p>
            </div>
            break;
    }
</CascadingValue>

@code {
    [Parameter] public Guid CommunityId { get; set; }
    private Guid _previousCommunityId;

    [Parameter] public string? Channel { get; set; }

    private MemberRolePermissions? _memberRole;

    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (_previousCommunityId != CommunityId) {
            await CommunityService.LeaveCommunityHubAsync(_previousCommunityId);
            await CommunityService.JoinCommunityHubAsync(CommunityId);

            CommunityService.OnMemberRoleChanged += OnMemberRoleChanged;
            CommunityService.OnRoleDeleted += OnRoleDeleted;
            CommunityService.OnRolePermissionUpdated += OnRolePermissionUpdated;
            
            _previousCommunityId = CommunityId;
            
            await ReloadMemberRole();
        }
    }

    private void OnMemberRoleChanged(MemberRoleChangedEventArgs args) {
        if (args.RoleId == _memberRole?.RoleId) {
            InvokeAsync(ReloadMemberRole);
        }
    }

    private void OnRoleDeleted(CommunityRoleDeletedEventArgs args) {
        if (args.RoleId == _memberRole?.RoleId) {
            _memberRole = MemberRolePermissions.Default;
            InvokeAsync(StateHasChanged);
        }
    }

    private void OnRolePermissionUpdated(CommunityRolePermissionUpdatedEventArg args) {
        if (args.RoleId == _memberRole?.RoleId) {
            InvokeAsync(ReloadMemberRole);
        }
    }

    private async Task ReloadMemberRole() {
        var authState = await AuthenticationState;
        var userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!;

        _memberRole = await CommunityService.GetUserRolePermissionsAsync(userId, CommunityId);
        StateHasChanged();
    }
    
    public async ValueTask DisposeAsync() {
        CommunityService.OnMemberRoleChanged -= OnMemberRoleChanged;
        CommunityService.OnRoleDeleted -= OnRoleDeleted;
        CommunityService.OnRolePermissionUpdated -= OnRolePermissionUpdated;
        
        await CommunityService.LeaveCommunityHubAsync(CommunityId);
    }
}