<div class="z-0 relative aspect-square rounded-full bg-black overflow-hidden flex-none @_cssClass" @ref="RootElement" @attributes="AdditionalAttributes">
    @if (!string.IsNullOrEmpty(ImageSrc)) {
        <img @ref="ImageElement" src="@ImageSrc" alt="@(string.IsNullOrEmpty(ImageSrc) ? null : ImageAlt)" class="relative inset-0 object-cover pointer-events-none">
    }
    
    @if (ChildContent != null) {
        @ChildContent
    }
</div>

@code {
    [Parameter] public string? ImageSrc { get; set; }
    [Parameter] public string? ImageAlt { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private string? _cssClass;

    public ElementReference ImageElement { get; set; }
    public ElementReference RootElement { get; set; }

    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _cssClass = Convert.ToString(obj);
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key is not "class").ToDictionary();
    }
}