@using Conflux.Web.Core
@using Conflux.Web.Services.Abstracts
@using System.Security.Claims

@implements IDisposable

@inject IUserCallService UserCallService

<div class="fixed inset-4 z-100000 pointer-events-none">
    <CascadingValue Value="_userId" Name="SessionUserId">
        @foreach (var room in UserCallService.Rooms) {
            <CallScreen @key="room.Id" CallRoom="room"/>
        }
    </CascadingValue>
</div>

@code {
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;
    private string _userId = null!;
    
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            var authState = await AuthenticationState;
            _userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!;
            
            UserCallService.OnCallInitialized += OnUserCallInitialized;
            UserCallService.OnOfferReceived += OnOfferReceived;
        }
    }

    private void OnUserCallInitialized() {
        StateHasChanged();
    }

    private void OnOfferReceived(CallRoom room) {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose() {
        UserCallService.OnCallInitialized -= OnUserCallInitialized;
        UserCallService.OnOfferReceived -= OnOfferReceived;
    }
}