@using Conflux.Core
@using Conflux.Services.Abstracts
@using System.Security.Claims

@implements IDisposable

@inject IUserCallService CallRoomService

<div class="fixed inset-4 z-100000 pointer-events-none">
    <CascadingValue Value="_userId" Name="SessionUserId">
        @foreach (var room in CallRoomService.Rooms) {
            <CallScreen @key="room.Id" CallRoom="room"/>
        }
    </CascadingValue>
</div>

@code {
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;
    private string _userId = null!;
    
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            var authState = await AuthenticationState;
            _userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!;
            
            CallRoomService.OnCallInitialized += OnCallInitialized;
            CallRoomService.OnOfferReceived += OnOfferReceived;
        }
    }

    private void OnCallInitialized() {
        StateHasChanged();
    }

    private void OnOfferReceived(CallRoom room, string description) {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose() {
        CallRoomService.OnCallInitialized -= OnCallInitialized;
        CallRoomService.OnOfferReceived -= OnOfferReceived;
    }
}