@using Conflux.Web.Components.Shared.Icons
@using Conflux.Web.Helpers
<header class="pb-3 px-5 pt-5 flex-none flex flex-row justify-between items-center @_cssClass" @attributes="AdditionalAttributes">
    <div class="flex flex-col">
        @if (!string.IsNullOrEmpty(Title)) {
            <h1 class="text-2xl font-bold">@Title</h1>
        }

        @if (!string.IsNullOrEmpty(Subtext)) {
            <p class="text-sm text-gray-400">@Subtext</p>
        }
    </div>
    
    @if (OnCloseRequested.HasDelegate) {
        <button type="button" class="ml-2 group cursor-pointer" @onclick="EventUtils.AsNonRenderingEventHandler(OnCloseRequested)">
            <Cross class="size-4 fill-gray-300 group-hover:fill-white" Size="CrossSize.Large"/>
        </button>
    }
</header>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Subtext { get; set; }
    
    [Parameter] public EventCallback OnCloseRequested { get; set; }

    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private string? _cssClass;
    
    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _cssClass = Convert.ToString(obj);
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key is not "class").ToDictionary();
    }
}