<div class="bg-gray-700 pointer-events-auto rounded-xl flex flex-col justify-start overflow-hidden @_cssClass" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter, EditorRequired] public required RenderFragment ChildContent { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private string? _cssClass;

    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _cssClass = Convert.ToString(obj);
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key is not "class").ToDictionary();
    }
}