@using Conflux.Application.Dto
@using Conflux.Domain.Extensions
@using Conflux.Web.Components.Shared.Modals
@using Conflux.Web.Services.Implementations
@using Microsoft.EntityFrameworkCore

@inject IContentService ContentService
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject ModalService ModalService

<div class="flex flex-col gap-1 @_cssClass" @attributes="AdditionalAttributes">
    <Virtualize @ref="_virtualize" OverscanCount="OverscanCount" ItemsProvider="MembersProvider">
        <ItemContent Context="item">
            <UserCard DisplayName="@item.DisplayName" 
                      AvatarSrc="@(string.IsNullOrEmpty(item.AvatarPath) ? null : ContentService.GetAssetPath(item.AvatarPath))"
                      UserId="@item.UserId"
                      MemberId="item.MemberId"
                      OnClick="HandleOnCardClick"
                      class="h-10"/>
        </ItemContent>
    </Virtualize>
</div>

@code {
    [Parameter] public Guid? RoleId { get; set; }
    private Guid? _previousRoleId;
    
    [Parameter] public int OverscanCount { get; set; } = 10;
    
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private string? _cssClass;

    private Virtualize<MemberDisplayDTO> _virtualize = null!;
    
    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _cssClass = Convert.ToString(obj);
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key is not "class").ToDictionary();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (!firstRender && _previousRoleId != RoleId) {
            await _virtualize.RefreshDataAsync();
            StateHasChanged();
        }

        _previousRoleId = RoleId;
    }

    private async ValueTask<ItemsProviderResult<MemberDisplayDTO>> MembersProvider(ItemsProviderRequest request) {
        await using var dbContext = await DbContextFactory.CreateDbContextAsync();

        IQueryable<CommunityMember> query = dbContext.CommunityMembers
            .IncludeBanned()
            .Where(member => member.RoleId == RoleId);

        int totalCount = await query.CountAsync();

        if (totalCount == 0) {
            return new([], 0);
        }

        var results = await query
            .OrderByDescending(x => x.CreatedAt)
            .Skip(request.StartIndex)
            .Take(request.Count)
            .Select(m => new MemberDisplayDTO(m.Id, m.UserId, m.User.DisplayName, m.User.AvatarProfilePath))
            .ToListAsync();

        return new(results, totalCount);
    }

    private void HandleOnCardClick(UserCard userCard) {
        ModalService.Open<UserProfileModal>(parameters: new Dictionary<string, object?> {
            [nameof(UserProfileModal.InspectingUserId)] = userCard.UserId,
            [nameof(UserProfileModal.InspectingMemberId)] = userCard.MemberId,
        });
    }
}