@using Conflux.Application.Dto

@inject IContentService ContentService

<div class="flex flex-row @_cssClass" @attributes="AdditionalAttributes">
    <Avatar ImageSrc="@(string.IsNullOrEmpty(Display.SenderAvatar) ? null : ContentService.GetAssetPath(Display.SenderAvatar))"
            ImageAlt="Sender's Avatar"
            class="flex-none size-10 mr-2 mt-1"/>

    <div class="flex-1 flex flex-col">
        <p>@Display.SenderDisplayName</p>

        @if (!string.IsNullOrEmpty(Display.Body)) {
            <p class="whitespace-pre-wrap wrap-anywhere">
                @Display.Body
            </p>
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired] public required MessageDisplayDTO Display { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private string? _cssClass;

    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _cssClass = Convert.ToString(obj);
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key is not "class").ToDictionary();
    }
}