@inject IJSRuntime JavascriptRuntime

<div @ref="RootElementReference" class="relative @ContainerCssClass">
    @{ 
        string? imageSrc = File.Operation switch { 
            ImageUploadOperation.Delete => null,
            ImageUploadOperation.Upload => File.PreviewUrl,
            _ => ImageSrc, 
        };
    }

    <div class="z-0 relative bg-black overflow-hidden @_cssClass">
        @if (!string.IsNullOrEmpty(imageSrc)) {
            <img @ref="ImageElementReference" src="@imageSrc" alt="@(string.IsNullOrEmpty(ImageSrc) ? null : ImageAlt)" class="relative inset-0 object-cover pointer-events-none">
        }

        <label class="absolute inset-0 flex size-full flex-row justify-center items-center cursor-pointer z-10 bg-black/40 opacity-0 group-hover:opacity-100 rounded-full transition-opacity duration-250">
            <span class="text-white">Click to change</span>

            <InputFile @ref="InputFileElement" OnChange="HandleFileChange" class="hidden"></InputFile>
        </label>
    </div>
    
    @switch (File.Operation) {
        case ImageUploadOperation.Nothing or ImageUploadOperation.Upload:
            @if (!string.IsNullOrEmpty(imageSrc)) {
                <button type="button" class="absolute top-1 right-1 p-2 rounded-full bg-red-600 shadow-lg hover:bg-red-500 active:bg-red-700 cursor-pointer" @onclick="RequestDelete">
                    <Cross class="size-5 fill-white"/>
                </button>
            }
            break;
            
        case ImageUploadOperation.Delete:
            <button type="button" class="absolute top-1 right-1 p-2 rounded-full bg-blue-500 shadow-lg hover:bg-blue-400 active:bg-blue-700 cursor-pointer" @onclick="RequestUndoDelete">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-5 fill-none stroke-white stroke-1">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
            </button>
            break;
    }
</div>

@code {
    [Parameter] public string? ImageSrc { get; set; }
    [Parameter] public string? ImageAlt { get; set; }
    [Parameter] public string? ContainerCssClass { get; set; }
    
    [Parameter] public ImageUploading File { get; set; }
    [Parameter] public EventCallback<ImageUploading> FileChanged { get; set; }
    [Parameter] public Expression<Func<ImageUploading>> FileExpression { get; set; } = null!;
    
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private string? _cssClass;

    public ElementReference RootElementReference { get; set; }
    public ElementReference ImageElementReference { get; set; }
    public InputFile? InputFileElement { get; set; }
    
    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _cssClass = Convert.ToString(obj);
        }
        
        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key is not "class").ToDictionary();
        _cssClass += " group";

        ContainerCssClass ??= "inline-block";
    }
    
    private async Task HandleFileChange(InputFileChangeEventArgs args) {
        if (InputFileElement?.Element is not { } inputFileElement) {
            return;
        }

        if (!string.IsNullOrEmpty(File.PreviewUrl)) {
            await JavascriptRuntime.InvokeVoidAsync("URL.revokeObjectURL", File.PreviewUrl);
        }

        string previewUrl = await JavascriptRuntime.InvokeAsync<string>("window.createInputPreviewUrl", inputFileElement, 0);

        File = new(ImageUploadOperation.Upload, args.File, previewUrl);
        await FileChanged.InvokeAsync(File);
    }

    public async Task RequestDelete() {
        if (!string.IsNullOrEmpty(File.PreviewUrl)) {
            await JavascriptRuntime.InvokeVoidAsync("URL.revokeObjectURL", File.PreviewUrl);
        }

        File = new(File.Operation == ImageUploadOperation.Upload ? ImageUploadOperation.Nothing : ImageUploadOperation.Delete, null, null);
        await FileChanged.InvokeAsync(File);
    }

    public async Task RequestUndoDelete() {
        File = new(ImageUploadOperation.Nothing, null, null);
        await FileChanged.InvokeAsync(File);
    }
}