@inherits InputText

<div class="px-3 outline-none border rounded-lg bg-gray-700/60 border-gray-600 focus-within:ring-2 focus-within:ring-indigo-600 transition duration-300 flex flex-row items-center @CssClass">
    <Search class="size-4 fill-white flex-none mr-2"/>

    <input type="text" class="flex-1 outline-none border-none w-full h-11 focus:outline-none" @bind="CurrentValueAsString" @bind:event="@(BindOnInput ? "oninput" : "onchange")">
</div>

@code {
    [Parameter] public bool BindOnInput { get; set; } = true;
}