@implements IAsyncDisposable

@inject IJSRuntime JavascriptRuntime

<div class="absolute top-0 bottom-0 w-25 lg:hidden bg-transparent touch-none select-none pointer-events-auto z-200 @(Direction == SidebarDirection.RightToLeft ? "right-0" : "left-0")" @ref="EdgeDetector"></div>

<div @ref="OverlayElement" class="cursor-default absolute inset-0 bg-black hidden lg:hidden z-205" style="opacity: 0"></div>

<aside @ref="RootElement" class="h-full absolute top-0 z-210 lg:static @(Direction == SidebarDirection.RightToLeft ? "right-0" : "left-0") @_cssClass" @attributes="AdditionalAttributes" style="@(Direction == SidebarDirection.RightToLeft ? "transform: translateX(100%);" : "transform: translateX(-100%);")">
    @if (ChildContent != null) {
        @ChildContent
    }
</aside>

@code {
    [Parameter] public SidebarDirection Direction { get; set; }
    
    [Parameter] public RenderFragment? ChildContent { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private string? _cssClass;

    public ElementReference RootElement { get; set; }
    public ElementReference OverlayElement { get; set; }
    public ElementReference EdgeDetector { get; set; }

    private IJSObjectReference? _module, _disposeState;
    
    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _cssClass = Convert.ToString(obj);
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key is not "class").ToDictionary();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            _module = await JavascriptRuntime.InvokeAsync<IJSObjectReference>("import", "./js/Components/Sidebar.js");
            _disposeState = await _module.InvokeAsync<IJSObjectReference>("initializeSidebar", RootElement, OverlayElement, EdgeDetector, Direction == SidebarDirection.RightToLeft ? "rtl" : "ltr");
        }
    }

    public async ValueTask DisposeAsync() {
        try {
            if (_disposeState != null) {
                await _module!.InvokeVoidAsync("disposeSidebar", _disposeState);
                await _disposeState.DisposeAsync();
                _disposeState = null;
            }
            
            if (_module != null) {
                await _module.DisposeAsync();
                _module = null;
            }
        } catch (JSDisconnectedException) {
        }
    }
}
