<div class="p-2 shadow-md relative inline-flex flex-row items-center gap-1 @_cssClass">
    <p class="flex-1">
        @ChildContent
    </p>
        
    <button class="cursor-pointer group">
        <Cross class="size-5 fill-gray-300 group-hover:fill-white"/>
    </button>
</div>

@code {
    [Parameter, EditorRequired] public required RenderFragment ChildContent { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private string? _cssClass;

    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _cssClass = Convert.ToString(obj);
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key is not "class").ToDictionary();
    }
}