<button @attributes="AdditionalAttributes">
    @if (IsSpinning) {
        <div class="flex flex-row justify-center items-center">
            <Spinner class="@SpinnerCssClass"/>
        </div>
    } else {
        @ChildContent
    }
</button>

@code {
    [Parameter] public bool IsSpinning { get; set; }
    [Parameter] public EventCallback<bool> IsSpinningChanged { get; set; }
    [Parameter] public Expression<Func<bool>>? IsSpinningExpression { get; set; }
    
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? SpinnerCssClass { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
}