@using Conflux.Application.Dto
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims

@inject IContentService ContentService
@inject IUserService UserService

<div class="h-14 p-1.5 flex flex-row justify-center items-center @_cssClass">
    @if (_isLoading) {
        <Spinner class="size-8 mx-auto fill-white"/>
    } else if (_userDisplay is not { } userDisplay) {
        <p class="text-sm text-gray-400">Failed to load user info.</p>
    } else {
        <Avatar class="h-full flex-none" 
                ImageSrc="@(string.IsNullOrEmpty(userDisplay.AvatarPath) ? null : ContentService.GetAssetPath(userDisplay.AvatarPath))"
                ImageAlt="User's Avatar"/>
        
        <div class="ml-2 flex-1 flex flex-col justify-center text-white">
            <p>@userDisplay.DisplayName</p>
            <p class="text-xs">@userDisplay.UserName</p>
        </div>
        
        <div class="flex-none flex flex-row items-center">
            <NavLink class="rounded-full p-2 flex-none hover:bg-white/15 active:bg-black/15" href="/settings/account" Match="NavLinkMatch.Prefix">
                <Gear class="size-5 fill-white flex-none"/>
            </NavLink>
        </div>
    }
</div>

@code {
    [CascadingParameter] private Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    private UserDisplayDTO? _userDisplay;
    private string _userId;
    private bool _isLoading = true;
    
    [Parameter(CaptureUnmatchedValues = true)] public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    private string? _cssClass;
    
    protected override void OnParametersSet() {
        if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out object? obj)) {
            _cssClass = Convert.ToString(obj);
        }

        AdditionalAttributes = AdditionalAttributes?.Where(x => x.Key is not "class").ToDictionary();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            var authState = await AuthenticationState;
            _userId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier)!;

            _userDisplay = await UserService.GetUserDisplayAsync(_userId);
            _isLoading = false;
            
            StateHasChanged();
            
            // await using (var dbContext = await DbContextFactory.CreateDbContextAsync()) {
            //     dbContext.ChangeTracker.QueryTrackingBehavior = QueryTrackingBehavior.NoTracking;
            //     
            //     var data = await dbContext.Users
            //         .Where(u => u.Id == _userId)
            //         .Select(u => new {
            //             u.DisplayName,
            //             u.UserName,
            //             AvatarSrc = u.AvatarProfilePath,
            //         }).FirstOrDefaultAsync();
            //
            //     if (data == null) {
            //         return;
            //     }
            //
            //     _userDisplayName = data.DisplayName;
            //     _username = data.UserName!;
            //
            //     if (!string.IsNullOrEmpty(data.AvatarSrc)) {
            //         _avatarSrc = ContentService.GetAssetPath(data.AvatarSrc);
            //     }
            // }
            //
            // StateHasChanged();
        }
    }
}