@page "/test"
@using Conflux.Components.Shared

<button class="button-primary" @onclick="HandleOpenDialog">
    Show Modal
</button>

<Dialog @bind-Open="OpenDialog" class="flex flex-row justify-center items-center" OnClickOutside="HandleCloseDialog">
    <Card class="text-white">
        <CardHeader Title="Some random modal" OnCloseRequested="HandleCloseDialog"/>

        <CardContent>
            Card Content
        </CardContent>
    </Card>
</Dialog>

@code {
    public bool OpenDialog { get; set; }

    public void HandleOpenDialog() {
        OpenDialog = true;
    }

    public void HandleCloseDialog() {
        OpenDialog = false;
    }
}