@use "variables";

.home-particle-background {
    background-color: var(--particle-bg-color);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.navigation-header__container {
    background-color: var(--container-bg-color);
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid var(--container-border-color);
}

.server-navigation {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 20;
    
    &__hamburger-button {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 100%;
        background-color: var(--navigation-bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
        
        &:hover {
            background-color: var(--navigation-bg-color__hover);
        }
        
        &:active {
            background-color: var(--navigation-bg-color__active);
        }
    }
    
    &__element-container {
        transform: translateX(-150%);
        transform-origin: top right;
        width: 3.5rem;
        height: 1.5rem;
        background-color: var(--container-bg-color);
        border-radius: 0.375rem;
    }
}

.modal {
    background-color: rgba(0, 0, 0, var(--modal-bg-alpha));
    inset: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
}

.server-navigation--icon {
    width: 3.5rem;
    height: 3.5rem;
}