:root {
    --particle-bg-color: #1F1F1F;
    --container-bg-color: #1F1F1F;
    --container-border-color: #353535;
    
    --navigation-bg-color: #3F3F3F;
    --navigation-bg-color__hover: #5c5c5c;
    --navigation-bg-color__active: #323232;
    
    --modal-bg-alpha: 0.25;
}